# project X: fraudulent insurance claims (alternative)

## importing relevant libraries

In [114]:
#starting pyspark 
import findspark
findspark.init()
findspark.find()

'C:\\spark-3.3.1-bin-hadoop2'

In [115]:
#importing relevant libraries 
import os
import findspark
import py4j
from pyspark.sql import SparkSession

from pyspark.sql.types import *
from pyspark.sql.functions import mean,countDistinct, avg,stddev, col, count, when, floor, ceil
from pyspark.sql.functions import split, col, regexp_extract, lit
import pyspark.sql.functions as F
from pyspark.sql.functions import year
from pyspark.sql.functions import month
from pyspark.sql.functions import dayofweek

from pyspark.ml.feature import VectorAssembler, StandardScaler, StringIndexer, OneHotEncoder, StringIndexer
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns#for plotting

from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.evaluation import BinaryClassificationEvaluator, MulticlassClassificationEvaluator
from pyspark.mllib.evaluation import BinaryClassificationMetrics
from pyspark.sql.types import StructType

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import classification_report, confusion_matrix 
from sklearn.impute import SimpleImputer

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

import imblearn
from collections import Counter
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import validation_curve
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score
from sklearn.ensemble import RandomForestClassifier

In [116]:
#starting pyspark
spark = SparkSession.builder.appName("project_X").getOrCreate()
spark

## importing data

In [117]:
claim = pd.read_csv('Data/insurance_fraud_data.csv')
claim_bi = pd.read_csv('Data/insurance_fraud_data.csv')

In [118]:
claim_ml_df = pd.DataFrame(claim)
claim_bi_df = pd.DataFrame(claim_bi)

## EDA

## No. of columns

In [119]:
print('ML dataset columns: \n')
display(claim_ml_df.columns)
print('powerBI dataset columns: \n')
display(claim_bi_df.columns)

ML dataset columns:

Index(['claim_number', 'age_of_driver', 'gender', 'marital_status',
       'safty_rating', 'annual_income', 'high_education_ind',
       'address_change_ind', 'living_status', 'zip_code', 'claim_date',
       'claim_day_of_week', 'accident_site', 'past_num_of_claims',
       'witness_present_ind', 'liab_prct', 'channel',
       'policy_report_filed_ind', 'claim_est_payout', 'age_of_vehicle',
       'vehicle_category', 'vehicle_price', 'vehicle_color', 'vehicle_weight',
       'fraud'],
      dtype='object')

powerBI dataset columns:

Index(['claim_number', 'age_of_driver', 'gender', 'marital_status',
       'safty_rating', 'annual_income', 'high_education_ind',
       'address_change_ind', 'living_status', 'zip_code', 'claim_date',
       'claim_day_of_week', 'accident_site', 'past_num_of_claims',
       'witness_present_ind', 'liab_prct', 'channel',
       'policy_report_filed_ind', 'claim_est_payout', 'age_of_vehicle',
       'vehicle_category', 'vehicle_price', 'vehicle_color', 'vehicle_weight',
       'fraud'],
      dtype='object')

## function to get data information

In [120]:
def explore(data):
    print('data head: \n')
    display(data.head())
    print('info: \n')
    display(data.info())
    print('description statistics: \n')
    display(data.describe())
    print('how many rows?: \n')
    display(len(data))
    print('How many nulls: \n')
    display(data.isna().sum())

## input data into function

In [121]:
explore(claim_ml_df)

data head:

,claim_number,age_of_driver,gender,marital_status,safty_rating,annual_income,high_education_ind,address_change_ind,living_status,zip_code,...,liab_prct,channel,policy_report_filed_ind,claim_est_payout,age_of_vehicle,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud
0,1,46,M,1.0,85,38301,1,1,Rent,80006,...,74,Broker,0,7530.940993,9.0,Compact,12885.45235,white,16161.33381,0
1,3,21,F,0.0,75,30445,0,1,Rent,15021,...,79,Online,0,2966.024895,4.0,Large,29429.45218,white,28691.96422,0
2,4,49,F,0.0,87,38923,0,1,Own,20158,...,0,Broker,0,6283.888333,3.0,Compact,21701.18195,white,22090.94758,1
3,5,58,F,1.0,58,40605,1,0,Own,15024,...,99,Broker,1,6169.747994,4.0,Medium,13198.27344,other,38329.58106,1
4,6,38,M,1.0,95,36380,1,0,Rent,50034,...,7,Broker,0,4541.387150,7.0,Medium,38060.21122,gray,25876.56319,0

info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17998 entries, 0 to 17997
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   claim_number             17998 non-null  int64
 1   age_of_driver            17998 non-null  int64
 2   gender                   17998 non-null  object
 3   marital_status           17993 non-null  float64
 4   safty_rating             17998 non-null  int64
 5   annual_income            17998 non-null  int64
 6   high_education_ind       17998 non-null  int64
 7   address_change_ind       17998 non-null  int64
 8   living_status            17998 non-null  object
 9   zip_code                 17998 non-null  int64
 10  claim_date               17998 non-null  object
 11  claim_day_of_week        17998 non-null  object
 12  accident_site            17998 non-null  object
 13  past_num_of_claims       17998 non-null  int64
 14  witness_present_ind      17866 non-null  float64
 15  liab_prct                17998 non-null  int64
 16  channel                  17998 non-null  object
 17  policy_report_filed_ind  17998 non-null  int64
 18  claim_est_payout         17981 non-null  float64
 19  age_of_vehicle           17990 non-null  float64
 20  vehicle_category         17998 non-null  object
 21  vehicle_price            17998 non-null  float64
 22  vehicle_color            17998 non-null  object
 23  vehicle_weight           17998 non-null  float64
 24  fraud                    17998 non-null  int64
dtypes: float64(6), int64(11), object(8)
memory usage: 3.4+ MB

None

description statistics:

,claim_number,age_of_driver,marital_status,safty_rating,annual_income,high_education_ind,address_change_ind,zip_code,past_num_of_claims,witness_present_ind,liab_prct,policy_report_filed_ind,claim_est_payout,age_of_vehicle,vehicle_price,vehicle_weight,fraud
count,17998.000000,17998.000000,17993.000000,17998.000000,17998.000000,17998.000000,17998.000000,17998.000000,17998.000000,17866.000000,17998.000000,17998.000000,17981.000000,17990.000000,17998.000000,17998.000000,17998.000000
mean,14970.601622,43.695466,0.712722,73.562951,37367.655684,0.699189,0.577286,49875.595955,0.505001,0.232677,49.423269,0.600678,4975.792083,5.008060,23089.123114,23031.322385,0.156462
std,8659.940765,11.959819,0.452505,15.346807,2957.297249,0.458623,0.494004,29214.655149,0.955504,0.422550,33.678470,0.489773,2215.706510,2.258391,11988.429767,12052.385584,0.363303
min,1.000000,18.000000,0.000000,1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,282.639432,0.000000,2457.329316,2429.429302,0.000000
25%,7479.250000,35.000000,0.000000,65.000000,35554.000000,0.000000,0.000000,20111.000000,0.000000,0.000000,17.000000,0.000000,3337.029436,3.000000,14279.574850,14164.122133,0.000000
50%,14965.500000,43.000000,1.000000,76.000000,37610.000000,1.000000,1.000000,50028.000000,0.000000,0.000000,50.000000,1.000000,4668.796318,5.000000,20948.879250,20838.150260,0.000000
75%,22467.750000,51.000000,1.000000,85.000000,39318.000000,1.000000,1.000000,80038.000000,1.000000,0.000000,81.000000,1.000000,6255.901066,6.000000,29562.232780,29430.446293,0.000000
max,30000.000000,229.000000,1.000000,100.000000,54333.000000,1.000000,1.000000,85083.000000,6.000000,1.000000,100.000000,1.000000,17218.345010,16.000000,127063.506000,123016.650400,1.000000

how many rows?:

17998

How many nulls:

claim_number                 0
age_of_driver                0
gender                       0
marital_status               5
safty_rating                 0
annual_income                0
high_education_ind           0
address_change_ind           0
living_status                0
zip_code                     0
claim_date                   0
claim_day_of_week            0
accident_site                0
past_num_of_claims           0
witness_present_ind        132
liab_prct                    0
channel                      0
policy_report_filed_ind      0
claim_est_payout            17
age_of_vehicle               8
vehicle_category             0
vehicle_price                0
vehicle_color                0
vehicle_weight               0
fraud                        0
dtype: int64

In [122]:
explore(claim_bi_df)

data head:

,claim_number,age_of_driver,gender,marital_status,safty_rating,annual_income,high_education_ind,address_change_ind,living_status,zip_code,...,liab_prct,channel,policy_report_filed_ind,claim_est_payout,age_of_vehicle,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud
0,1,46,M,1.0,85,38301,1,1,Rent,80006,...,74,Broker,0,7530.940993,9.0,Compact,12885.45235,white,16161.33381,0
1,3,21,F,0.0,75,30445,0,1,Rent,15021,...,79,Online,0,2966.024895,4.0,Large,29429.45218,white,28691.96422,0
2,4,49,F,0.0,87,38923,0,1,Own,20158,...,0,Broker,0,6283.888333,3.0,Compact,21701.18195,white,22090.94758,1
3,5,58,F,1.0,58,40605,1,0,Own,15024,...,99,Broker,1,6169.747994,4.0,Medium,13198.27344,other,38329.58106,1
4,6,38,M,1.0,95,36380,1,0,Rent,50034,...,7,Broker,0,4541.387150,7.0,Medium,38060.21122,gray,25876.56319,0

info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17998 entries, 0 to 17997
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   claim_number             17998 non-null  int64
 1   age_of_driver            17998 non-null  int64
 2   gender                   17998 non-null  object
 3   marital_status           17993 non-null  float64
 4   safty_rating             17998 non-null  int64
 5   annual_income            17998 non-null  int64
 6   high_education_ind       17998 non-null  int64
 7   address_change_ind       17998 non-null  int64
 8   living_status            17998 non-null  object
 9   zip_code                 17998 non-null  int64
 10  claim_date               17998 non-null  object
 11  claim_day_of_week        17998 non-null  object
 12  accident_site            17998 non-null  object
 13  past_num_of_claims       17998 non-null  int64
 14  witness_present_ind      17866 non-null  float64
 15  liab_prct                17998 non-null  int64
 16  channel                  17998 non-null  object
 17  policy_report_filed_ind  17998 non-null  int64
 18  claim_est_payout         17981 non-null  float64
 19  age_of_vehicle           17990 non-null  float64
 20  vehicle_category         17998 non-null  object
 21  vehicle_price            17998 non-null  float64
 22  vehicle_color            17998 non-null  object
 23  vehicle_weight           17998 non-null  float64
 24  fraud                    17998 non-null  int64
dtypes: float64(6), int64(11), object(8)
memory usage: 3.4+ MB

None

description statistics:

,claim_number,age_of_driver,marital_status,safty_rating,annual_income,high_education_ind,address_change_ind,zip_code,past_num_of_claims,witness_present_ind,liab_prct,policy_report_filed_ind,claim_est_payout,age_of_vehicle,vehicle_price,vehicle_weight,fraud
count,17998.000000,17998.000000,17993.000000,17998.000000,17998.000000,17998.000000,17998.000000,17998.000000,17998.000000,17866.000000,17998.000000,17998.000000,17981.000000,17990.000000,17998.000000,17998.000000,17998.000000
mean,14970.601622,43.695466,0.712722,73.562951,37367.655684,0.699189,0.577286,49875.595955,0.505001,0.232677,49.423269,0.600678,4975.792083,5.008060,23089.123114,23031.322385,0.156462
std,8659.940765,11.959819,0.452505,15.346807,2957.297249,0.458623,0.494004,29214.655149,0.955504,0.422550,33.678470,0.489773,2215.706510,2.258391,11988.429767,12052.385584,0.363303
min,1.000000,18.000000,0.000000,1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,282.639432,0.000000,2457.329316,2429.429302,0.000000
25%,7479.250000,35.000000,0.000000,65.000000,35554.000000,0.000000,0.000000,20111.000000,0.000000,0.000000,17.000000,0.000000,3337.029436,3.000000,14279.574850,14164.122133,0.000000
50%,14965.500000,43.000000,1.000000,76.000000,37610.000000,1.000000,1.000000,50028.000000,0.000000,0.000000,50.000000,1.000000,4668.796318,5.000000,20948.879250,20838.150260,0.000000
75%,22467.750000,51.000000,1.000000,85.000000,39318.000000,1.000000,1.000000,80038.000000,1.000000,0.000000,81.000000,1.000000,6255.901066,6.000000,29562.232780,29430.446293,0.000000
max,30000.000000,229.000000,1.000000,100.000000,54333.000000,1.000000,1.000000,85083.000000,6.000000,1.000000,100.000000,1.000000,17218.345010,16.000000,127063.506000,123016.650400,1.000000

how many rows?:

17998

How many nulls:

claim_number                 0
age_of_driver                0
gender                       0
marital_status               5
safty_rating                 0
annual_income                0
high_education_ind           0
address_change_ind           0
living_status                0
zip_code                     0
claim_date                   0
claim_day_of_week            0
accident_site                0
past_num_of_claims           0
witness_present_ind        132
liab_prct                    0
channel                      0
policy_report_filed_ind      0
claim_est_payout            17
age_of_vehicle               8
vehicle_category             0
vehicle_price                0
vehicle_color                0
vehicle_weight               0
fraud                        0
dtype: int64

## value counts, max and min

In [123]:
print('safety rating: \n')
display('counts: ',claim_bi_df['safty_rating'].value_counts())
display('max: ', claim_bi_df['safty_rating'].max())
display('min: ', claim_bi_df['safty_rating'].min())

print('high education: \n')
display('counts: ', claim_bi_df['high_education_ind'].value_counts())
display('max: ', claim_bi_df['high_education_ind'].max())
display('min: ', claim_bi_df['high_education_ind'].min())

print('living_status: \n')
display('counts: ', claim_bi_df['living_status'].value_counts())
# display(claim_bi_df['safty_rating'].max())
# display(claim_bi_df['safty_rating'].min())

print('accident site: \n')
display('counts: ', claim_bi_df['accident_site'].value_counts())
# display(claim_bi_df['safty_rating'].max())
# display(claim_bi_df['safty_rating'].min())

print('past number of claims: \n')
display('counts: ', claim_bi_df['past_num_of_claims'].value_counts())
display('max: ', claim_bi_df['past_num_of_claims'].max())
display('min: ', claim_bi_df['past_num_of_claims'].min())

print('witness present: \n')
display('counts: ', claim_bi_df['witness_present_ind'].value_counts())
display('max: ', claim_bi_df['witness_present_ind'].max())
display('min: ', claim_bi_df['witness_present_ind'].min())

print('liability %: \n')
display('counts: ', claim_bi_df['liab_prct'].value_counts())
display('max: ', claim_bi_df['liab_prct'].max())
display('min: ', claim_bi_df['liab_prct'].min())

print('channel: \n')
display('counts: ', claim_bi_df['channel'].value_counts())
# display(claim_bi_df['safty_rating'].max())
# display(claim_bi_df['safty_rating'].min())

print('policy report filled: \n')
display('counts: ', claim_bi_df['policy_report_filed_ind'].value_counts())
display('max: ', claim_bi_df['policy_report_filed_ind'].max())
display('min: ', claim_bi_df['policy_report_filed_ind'].min())

print('vehicle category: \n')
display('counts: ', claim_bi_df['vehicle_category'].value_counts())
# display(claim_bi_df['vehicle_category'].max())
# display(claim_bi_df['vehicle_category'].min())

print('vehicle price: \n')
display('counts: ', claim_bi_df['vehicle_price'].value_counts())
display(claim_bi_df['vehicle_price'].max())
display(claim_bi_df['vehicle_price'].min())

print('vehicle color: \n')
display('counts: ', claim_bi_df['vehicle_price'].value_counts())
# display(claim_bi_df['vehicle_price'].max())
# display(claim_bi_df['vehcile_price'].min())

print('vehicle weight: \n')
display('counts: ', claim_bi_df['vehicle_weight'].value_counts())
display('max: ', claim_bi_df['vehicle_weight'].max())
display('min: ', claim_bi_df['vehicle_weight'].min())

print('fraud: \n')
display('counts: ', claim_bi_df['fraud'].value_counts())
display('max: ', claim_bi_df['fraud'].max())
display('min: ', claim_bi_df['fraud'].min())

print('estimated payout: \n')
display('counts: ', claim_bi_df['claim_est_payout'].value_counts())
display('max: ', claim_bi_df['claim_est_payout'].max())
display('min: ', claim_bi_df['claim_est_payout'].min())

print('vehicle age: \n')
display('counts: ', claim_bi_df['age_of_vehicle'].value_counts())
display('max: ', claim_bi_df['age_of_vehicle'].max())
display('min: ', claim_bi_df['age_of_vehicle'].min())

safety rating:

'counts: '

84    565
80    557
85    555
81    548
83    532
     ...
12      2
1       2
6       2
7       1
3       1
Name: safty_rating, Length: 100, dtype: int64

'max: '

100

'min: '

1

high education:

'counts: '

1    12584
0     5414
Name: high_education_ind, dtype: int64

'max: '

1

'min: '

0

living_status:

'counts: '

Own     9969
Rent    8029
Name: living_status, dtype: int64

accident site:

'counts: '

Local          8768
Parking Lot    5472
Highway        3758
Name: accident_site, dtype: int64

past number of claims:

'counts: '

0    12650
1     3075
2     1342
3      584
4      187
5      130
6       30
Name: past_num_of_claims, dtype: int64

'max: '

6

'min: '

0

witness present:

'counts: '

0.0    13709
1.0     4157
Name: witness_present_ind, dtype: int64

'max: '

1.0

'min: '

0.0

liability %:

'counts: '

50     1244
0       775
100     719
1       586
99      518
       ...
53       90
44       90
48       86
52       83
41       80
Name: liab_prct, Length: 101, dtype: int64

'max: '

100

'min: '

0

channel:

'counts: '

Broker    9633
Phone     5771
Online    2594
Name: channel, dtype: int64

policy report filled:

'counts: '

1    10811
0     7187
Name: policy_report_filed_ind, dtype: int64

'max: '

1

'min: '

0

vehicle category:

'counts: '

Compact    6063
Large      5986
Medium     5949
Name: vehicle_category, dtype: int64

vehicle price:

'counts: '

12885.45235    1
22042.99289    1
17506.59628    1
22985.99847    1
51681.80152    1
              ..
11536.18046    1
43058.86667    1
53161.16060    1
13407.23452    1
19295.97048    1
Name: vehicle_price, Length: 17998, dtype: int64

127063.506

2457.329316

vehicle color:

'counts: '

12885.45235    1
22042.99289    1
17506.59628    1
22985.99847    1
51681.80152    1
              ..
11536.18046    1
43058.86667    1
53161.16060    1
13407.23452    1
19295.97048    1
Name: vehicle_price, Length: 17998, dtype: int64

vehicle weight:

'counts: '

16161.333810    1
14960.035400    1
20674.387040    1
45319.777870    1
26347.502470    1
               ..
17599.182810    1
9902.483994     1
28859.913340    1
17564.424110    1
15257.214500    1
Name: vehicle_weight, Length: 17998, dtype: int64

'max: '

123016.6504

'min: '

2429.429302

fraud:

'counts: '

0    15182
1     2816
Name: fraud, dtype: int64

'max: '

1

'min: '

0

estimated payout:

'counts: '

7530.940993    1
1280.785002    1
9019.780029    1
6091.602399    1
5291.709777    1
              ..
3895.307825    1
5548.337594    1
2910.028911    1
4046.375441    1
5166.915270    1
Name: claim_est_payout, Length: 17981, dtype: int64

'max: '

17218.34501

'min: '

282.639432

vehicle age:

'counts: '

4.0     3111
5.0     3101
6.0     2644
3.0     2561
7.0     1864
2.0     1524
8.0     1178
9.0      668
1.0      617
10.0     333
11.0     161
0.0      121
12.0      63
13.0      28
14.0      12
15.0       3
16.0       1
Name: age_of_vehicle, dtype: int64

'max: '

16.0

'min: '

0.0

## changing data types + rounding

In [124]:
#date 
claim_ml_df['claim_date'] = pd.to_datetime(claim_ml_df['claim_date'])
claim_bi_df['claim_date'] = pd.to_datetime(claim_bi_df['claim_date'])

In [125]:
#annual income salary rounded 
claim_bi_df['annual_income'] = round(claim_bi_df['annual_income'], 0)
claim_ml_df['annual_income'] = round(claim_ml_df['annual_income'], 0)

In [126]:
#vehicle price rounded 
claim_bi_df['vehicle_price'] = round(claim_bi_df['vehicle_price'], 0)
claim_ml_df['vehicle_price'] = round(claim_ml_df['vehicle_price'], 0)

In [127]:
#vehicle mass rounded 
claim_bi_df['vehicle_weight'] = round(claim_bi_df['vehicle_weight'], 2)
claim_ml_df['vehicle_weight'] = round(claim_ml_df['vehicle_weight'], 2)

In [128]:
claim_bi_df['claim_est_payout'] = round(claim_bi_df['claim_est_payout'], 0)
claim_ml_df['claim_est_payout'] = round(claim_ml_df['claim_est_payout'], 0)

## Data Cleaning and preprocessing: filling nulls + replacing values

### maritial status

In [129]:
display(claim_ml_df['marital_status'].value_counts()) #value count
display(claim_bi_df['marital_status'].value_counts())

1.0    12824
0.0     5169
Name: marital_status, dtype: int64

1.0    12824
0.0     5169
Name: marital_status, dtype: int64

In [130]:
claim_ml_df['marital_status'] = claim_ml_df['marital_status'].fillna(claim_ml_df['marital_status'].mode()[0]) #fill nulls
claim_bi_df['marital_status'] = claim_bi_df['marital_status'].fillna(claim_bi_df['marital_status'].mode()[0])

### witness present

In [131]:
display(claim_ml_df['witness_present_ind'].value_counts()) #value count
display(claim_bi_df['witness_present_ind'].value_counts())

0.0    13709
1.0     4157
Name: witness_present_ind, dtype: int64

0.0    13709
1.0     4157
Name: witness_present_ind, dtype: int64

In [132]:
claim_ml_df['witness_present_ind'] = claim_ml_df['witness_present_ind'].fillna(claim_ml_df['witness_present_ind'].mode()[0]) # passed as argument to fill nulls 
claim_bi_df['witness_present_ind'] = claim_bi_df['witness_present_ind'].fillna(claim_bi_df['witness_present_ind'].mode()[0])

### claim: estimated payout

In [133]:
display(claim_ml_df['claim_est_payout'].value_counts()) #value counts
print('\n')
display(claim_bi_df['claim_est_payout'].value_counts())
print('\n')
print('max and min: \n')
display(claim_bi_df['claim_est_payout'].max()) #max and min
display(claim_ml_df['claim_est_payout'].min())

4475.0    13
3922.0    12
4249.0    11
4967.0    11
4210.0    11
          ..
8630.0     1
1555.0     1
2435.0     1
3637.0     1
9561.0     1
Name: claim_est_payout, Length: 7347, dtype: int64

4475.0    13
3922.0    12
4249.0    11
4967.0    11
4210.0    11
          ..
8630.0     1
1555.0     1
2435.0     1
3637.0     1
9561.0     1
Name: claim_est_payout, Length: 7347, dtype: int64

max and min:

17218.0

283.0

In [134]:
claim_ml_df['claim_est_payout'] = claim_ml_df['claim_est_payout'].fillna(value = claim_ml_df['claim_est_payout'].mean()) #filling nulls with mean
claim_bi_df['claim_est_payout'] = claim_bi_df['claim_est_payout'].fillna(value = claim_bi_df['claim_est_payout'].mean())

### age of vehicle

In [135]:
#max and min 
print('bi max and min: \n')
display(claim_bi_df['age_of_vehicle'].max()) 
display(claim_bi_df['age_of_vehicle'].min()) 

print('ml max and min: \n')
display(claim_bi_df['age_of_vehicle'].max())
display(claim_ml_df['age_of_vehicle'].min())

bi max and min:

16.0

0.0

ml max and min:

16.0

0.0

In [136]:
#get mean
claim_ml_df['age_of_vehicle'] = claim_ml_df['age_of_vehicle'].fillna(value = claim_ml_df['age_of_vehicle'].mean()) #fill nulls 
claim_bi_df['age_of_vehicle'] = claim_bi_df['age_of_vehicle'].fillna(value = claim_bi_df['age_of_vehicle'].mean())

## salary

In [137]:
#max and min 
print('bi max and min: \n')
display(claim_bi_df['annual_income'].max()) 
display(claim_bi_df['annual_income'].min()) 
print('ml max and min: \n')
display(claim_ml_df['annual_income'].max())
display(claim_ml_df['annual_income'].min())

bi max and min:

54333

-1

ml max and min:

54333

-1

In [138]:
#assessing how many salaries are below $15000
claim_bi_df[claim_bi_df['annual_income'] < 15000]

,claim_number,age_of_driver,gender,marital_status,safty_rating,annual_income,high_education_ind,address_change_ind,living_status,zip_code,...,liab_prct,channel,policy_report_filed_ind,claim_est_payout,age_of_vehicle,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud
937,1542,49,F,1.0,39,-1,0,1,Rent,20124,...,98,Online,1,4311.0,1.0,Compact,17959.0,other,20932.77,0
3442,5734,50,M,0.0,55,-1,1,0,Own,20102,...,23,Phone,0,2888.0,8.0,Compact,33992.0,silver,32819.48,0
5449,9020,44,F,1.0,33,-1,0,1,Rent,50035,...,50,Broker,1,6652.0,6.0,Medium,32016.0,blue,21547.09,1
7347,12201,58,F,1.0,72,-1,0,1,Rent,20101,...,72,Phone,1,5421.0,3.0,Compact,16014.0,gray,4350.80,0
7467,12419,38,F,0.0,70,-1,0,0,Own,50009,...,90,Broker,1,6583.0,4.0,Large,29265.0,red,38451.44,0
8193,13601,83,F,0.0,87,-1,1,1,Rent,15025,...,15,Broker,0,6859.0,5.0,Compact,42317.0,other,25246.64,0
9385,15608,51,M,1.0,71,-1,0,1,Own,80014,...,33,Online,1,3892.0,4.0,Compact,17089.0,silver,23559.73,0
9628,16010,60,F,1.0,60,-1,1,1,Own,50038,...,78,Phone,1,2807.0,6.0,Large,32356.0,blue,17473.62,0
10539,17523,53,F,0.0,66,-1,1,1,Own,20104,...,81,Phone,1,1203.0,5.0,Compact,12693.0,silver,22501.40,0
11405,18945,45,F,1.0,83,-1,1,1,Rent,85013,...,3,Broker,0,6067.0,6.0,Medium,14766.0,white,24084.69,0
12416,20642,48,M,1.0,43,-1,1,0,Rent,20165,...,18,Broker,1,4047.0,1.0,Medium,20185.0,white,32461.74,0
12446,20690,32,M,0.0,85,-1,1,1,Rent,15007,...,52,Phone,0,5097.0,7.0,Large,7724.0,gray,25048.99,0
12793,21288,46,M,0.0,95,-1,0,1,Own,80106,...,98,Broker,1,4255.0,7.0,Large,49673.0,gray,26554.32,0
12830,21346,35,M,0.0,87,-1,1,0,Own,20120,...,56,Phone,1,5513.0,2.0,Large,42541.0,gray,30546.47,0
14497,24119,42,M,1.0,84,-1,1,0,Own,80110,...,55,Broker,0,6188.0,4.0,Compact,18657.0,gray,17012.24,0

In [139]:
#replacing anything below $15000 with $15080.4 as the national USA living salary 
salary_clean_bi = []
salary_clean_ml = []

usa_min_sal = 15080.4

for sal in claim_ml_df['annual_income']:
    if sal < 15000.0:
        salary_clean_ml.append(usa_min_sal)
    else:
        salary_clean_ml.append(sal)
        
for sal1 in claim_bi_df['annual_income']:
    if sal1 < 15000.0:
        salary_clean_bi.append(usa_min_sal)
    else:
        salary_clean_bi.append(sal1)

In [140]:
display(salary_clean_bi)
display(salary_clean_ml)

[38301,
 30445,
 38923,
 40605,
 36380,
 40240,
 32952,
 36891,
 38069,
 34324,
 39699,
 40753,
 32194,
 36635,
 39322,
 38516,
 32592,
 38293,
 37609,
 36639,
 36876,
 42499,
 31796,
 34674,
 39119,
 52988,
 37855,
 36117,
 39512,
 40259,
 34654,
 36893,
 39496,
 39129,
 40599,
 41269,
 38508,
 30902,
 38483,
 32591,
 36387,
 41428,
 35551,
 37119,
 34025,
 39117,
 35561,
 37368,
 42336,
 33327,
 33993,
 42352,
 37140,
 31767,
 42785,
 38712,
 34326,
 34347,
 38701,
 36644,
 43577,
 36374,
 40616,
 40777,
 34958,
 34341,
 34327,
 42609,
 30897,
 41890,
 48905,
 37141,
 34675,
 40081,
 34958,
 40069,
 37855,
 41906,
 40934,
 37140,
 35546,
 38302,
 34676,
 31788,
 39701,
 39150,
 33660,
 38071,
 34949,
 32969,
 32578,
 32582,
 35278,
 40426,
 32590,
 33305,
 39328,
 38278,
 36382,
 37384,
 36891,
 30911,
 39692,
 40258,
 39526,
 39514,
 40600,
 41114,
 32191,
 36890,
 38066,
 40419,
 30896,
 31786,
 35828,
 36106,
 38717,
 34962,
 39895,
 40082,
 38696,
 36639,
 35268,
 40273,
 37138,
 33681,
 38284,
 35264,
 40088,
 38079,
 39696,
 34668,
 39892,
 36882,
 37133,
 39505,
 40266,
 35269,
 35553,
 35846,
 36377,
 39522,
 35546,
 35268,
 29954,
 30906,
 41270,
 35265,
 40250,
 34648,
 39128,
 43828,
 39326,
 39522,
 38707,
 38502,
 32203,
 38715,
 35257,
 36107,
 36374,
 39509,
 37841,
 34980,
 38931,
 40952,
 39500,
 41743,
 38511,
 36891,
 36369,
 37833,
 39511,
 37611,
 37839,
 34971,
 36119,
 37838,
 38084,
 38070,
 37157,
 33301,
 34661,
 36111,
 30913,
 30920,
 37127,
 40598,
 41597,
 39321,
 34978,
 38924,
 42204,
 39310,
 39115,
 37396,
 37153,
 34368,
 40940,
 42353,
 38061,
 30916,
 38058,
 38733,
 40265,
 40427,
 39317,
 36086,
 43949,
 39515,
 34336,
 36885,
 31790,
 38520,
 33324,
 36648,
 40260,
 40438,
 36879,
 34666,
 38282,
 41619,
 39698,
 31794,
 37818,
 33323,
 38702,
 37390,
 34008,
 38064,
 38069,
 35269,
 41108,
 38083,
 37610,
 42195,
 37848,
 41886,
 34642,
 33661,
 34688,
 38061,
 36376,
 38285,
 35844,
 40071,
 31365,
 31762,
 36888,
 36648,
 36115,
 39711,
 36361,
 40078,
 35552,
 42185,
 35826,
 29447,
 38050,
 40964,
 35254,
 37138,
 37381,
 35542,
 36377,
 37392,
 36632,
 42050,
 38710,
 35550,
 38073,
 42360,
 42346,
 37613,
 31358,
 34316,
 37864,
 37842,
 40947,
 37832,
 38712,
 34968,
 37587,
 37355,
 40425,
 39518,
 35837,
 35824,
 34025,
 34972,
 37834,
 38493,
 38500,
 37822,
 36365,
 37614,
 39513,
 39525,
 36896,
 37844,
 37366,
 38706,
 37850,
 38281,
 35258,
 35837,
 34970,
 38939,
 37834,
 35821,
 35837,
 38066,
 41285,
 37625,
 43700,
 41750,
 35836,
 33310,
 35269,
 45112,
 38274,
 38072,
 39131,
 38074,
 38719,
 36361,
 40049,
 34344,
 39113,
 31771,
 34957,
 31781,
 40770,
 39873,
 38500,
 40613,
 37365,
 41905,
 32173,
 33680,
 39324,
 37126,
 37625,
 38730,
 40961,
 31352,
 35269,
 37148,
 32185,
 29945,
 36643,
 36626,
 35843,
 42067,
 37621,
 33319,
 38304,
 33329,
 39334,
 37642,
 36888,
 35817,
 39515,
 34957,
 39523,
 34965,
 39138,
 40089,
 39718,
 36104,
 37824,
 41116,
 40791,
 36371,
 37369,
 38287,
 43027,
 34665,
 35563,
 37377,
 34357,
 36106,
 38486,
 34993,
 37859,
 35552,
 36106,
 42040,
 39124,
 39875,
 41116,
 35834,
 35559,
 39115,
 35259,
 40446,
 43943,
 37822,
 38281,
 40077,
 39894,
 38502,
 38062,
 38286,
 36375,
 39116,
 38499,
 32182,
 36118,
 40947,
 38074,
 41435,
 38720,
 36892,
 35562,
 37610,
 41259,
 44425,
 40262,
 37859,
 34662,
 38087,
 39888,
 35546,
 39314,
 38485,
 37859,
 38485,
 40429,
 35251,
 39723,
 37370,
 39889,
 42635,
 39518,
 39895,
 37609,
 34335,
 38075,
 33668,
 38061,
 40077,
 32967,
 37126,
 37624,
 40773,
 32958,
 37125,
 38054,
 36641,
 39113,
 40418,
 34665,
 38924,
 35567,
 40768,
 36112,
 36617,
 40071,
 41739,
 30920,
 41289,
 34983,
 39107,
 34949,
 37624,
 34340,
 36901,
 39505,
 33687,
 34027,
 34344,
 37609,
 30920,
 37130,
 37140,
 39884,
 39688,
 34973,
 37364,
 38509,
 34337,
 39700,
 33654,
 35247,
 37135,
 38711,
 38512,
 40620,
 34011,
 37843,
 33677,
 36647,
 38916,
 36640,
 38066,
 39885,
 39135,
 37842,
 38903,
 37135,
 36110,
 34675,
 37124,
 36108,
 40609,
 33327,
 39496,
 37131,
 31782,
 41890,
 40076,
 39909,
 32186,
 38914,
 41758,
 38066,
 37159,
 43186,
 40934,
 35848,
 40071,
 38915,
 34015,
 35840,
 34654,
 34013,
 32576,
 40058,
 40958,
 33672,
 38287,
 37158,
 31785,
 34670,
 38916,
 40767,
 37832,
 38065,
 39704,
 39502,
 35836,
 35265,
 36650,
 32190,
 32975,
 37619,
 36371,
 37393,
 38283,
 33335,
 36627,
 40282,
 36622,
 39334,
 38708,
 41428,
 39884,
 36642,
 38275,
 38074,
 33326,
 37604,
 31775,
 40071,
 38291,
 39517,
 38901,
 39707,
 33681,
 40403,
 37373,
 38267,
 37144,
 35548,
 36097,
 39116,
 38687,
 38493,
 30913,
 38696,
 35555,
 33350,
 36870,
 36631,
 34966,
 37136,
 36373,
 39108,
 36102,
 31774,
 36103,
 37380,
 43301,
 35854,
 40076,
 36640,
 34348,
 33319,
 37836,
 35842,
 38286,
 42336,
 30917,
 38714,
 34975,
 37605,
 37385,
 34020,
 35245,
 37390,
 34654,
 34324,
 39496,
 32594,
 34650,
 38720,
 38076,
 37126,
 38721,
 38703,
 33678,
 34647,
 38924,
 34020,
 39120,
 35253,
 37383,
 39137,
 36371,
 38287,
 38084,
 35547,
 34330,
 34334,
 32198,
 41096,
 39518,
 36379,
 44773,
 41455,
 34004,
 35843,
 39334,
 37158,
 29441,
 33318,
 39134,
 31390,
 34023,
 37829,
 37844,
 39715,
 40061,
 37107,
 40079,
 32968,
 40268,
 35841,
 31787,
 34018,
 37835,
 33685,
 46066,
 42635,
 33664,
 34002,
 36623,
 35838,
 36893,
 40596,
 38511,
 39297,
 38713,
 38271,
 36104,
 41575,
 42345,
 39510,
 42467,
 38919,
 37373,
 38043,
 33680,
 34348,
 36382,
 39313,
 39316,
 37600,
 36640,
 42761,
 41429,
 35551,
 39692,
 36875,
 35549,
 36089,
 37618,
 39724,
 41424,
 37145,
 40069,
 39108,
 37134,
 33326,
 36376,
 39890,
 37630,
 40254,
 40942,
 33331,
 36388,
 39916,
 32575,
 36114,
 36372,
 38698,
 36635,
 32964,
 41910,
 34029,
 36874,
 37127,
 40948,
 37370,
 33325,
 39119,
 38701,
 32960,
 40780,
 35850,
 39526,
 37836,
 32949,
 35292,
 37616,
 33680,
 40595,
 39511,
 34654,
 35556,
 31782,
 34661,
 36385,
 35819,
 41120,
 39703,
 38510,
 37852,
 34657,
 41438,
 37827,
 32946,
 36915,
 37610,
 36099,
 41091,
 39125,
 42185,
 36638,
 32169,
 36645,
 34013,
 41586,
 37140,
 33319,
 41585,
 33329,
 37123,
 40422,
 32980,
 34671,
 34010,
 37617,
 35829,
 42894,
 39694,
 37129,
 37377,
 37131,
 40432,
 38499,
 35821,
 36893,
 33317,
 35268,
 38521,
 31362,
 32587,
 39109,
 37370,
 40613,
 32952,
 34960,
 35552,
 39891,
 39311,
 32181,
 39888,
 31366,
 38500,
 36369,
 40953,
 31784,
 35836,
 36108,
 32196,
 36363,
 40248,
 37827,
 39490,
 34953,
 36892,
 37594,
 34944,
 35261,
 36368,
 39104,
 37615,
 37123,
 39904,
 39323,
 39124,
 35549,
 38724,
 40938,
 41890,
 34961,
 40952,
 37606,
 36891,
 36633,
 34643,
 38052,
 40074,
 36636,
 34971,
 39706,
 40786,
 34360,
 38268,
 39535,
 38514,
 38724,
 41756,
 37851,
 35262,
 41104,
 37379,
 39099,
 35253,
 36915,
 37135,
 34970,
 40939,
 40938,
 41900,
 38915,
 36902,
 38284,
 38929,
 36896,
 40795,
 40774,
 38912,
 41436,
 38059,
 35849,
 34008,
 37617,
 38495,
 38482,
 37362,
 36357,
 40090,
 38498,
 39320,
 35572,
 40422,
 38057,
 41425,
 34955,
 38291,
 36882,
 37595,
 39521,
 37359,
 36113,
 37130,
 41111,
 32956,
 39503,
 38707,
 35254,
 38075,
 36363,
 42212,
 35261,
 36113,
 35542,
 37379,
 34350,
 32182,
 33688,
 34662,
 39884,
 42904,
 38695,
 34955,
 42195,
 40065,
 34343,
 37598,
 37392,
 33316,
 36876,
 38063,
 35539,
 35254,
 39494,
 39113,
 38066,
 36892,
 37379,
 35848,
 42478,
 39715,
 38933,
 35274,
 41441,
 36641,
 39519,
 35528,
 40439,
 36641,
 37146,
 38705,
 15080.4,
 36110,
 35269,
 36106,
 39704,
 38295,
 35853,
 36374,
 33677,
 34329,
 37840,
 41112,
 36887,
 39698,
 41104,
 37404,
 35272,
 33666,
 41278,
 34022,
 37374,
 32210,
 37135,
 34658,
 38499,
 41280,
 38726,
 34643,
 34325,
 35830,
 33335,
 39320,
 31776,
 37840,
 31346,
 33322,
 33682,
 42198,
 34663,
 39101,
 33313,
 40227,
 36897,
 41239,
 33681,
 33668,
 39698,
 41421,
 38064,
 38067,
 36901,
 32972,
 32957,
 35839,
 36371,
 36380,
 34973,
 38904,
 32592,
 43807,
 39108,
 40936,
 37115,
 ...]

[38301,
 30445,
 38923,
 40605,
 36380,
 40240,
 32952,
 36891,
 38069,
 34324,
 39699,
 40753,
 32194,
 36635,
 39322,
 38516,
 32592,
 38293,
 37609,
 36639,
 36876,
 42499,
 31796,
 34674,
 39119,
 52988,
 37855,
 36117,
 39512,
 40259,
 34654,
 36893,
 39496,
 39129,
 40599,
 41269,
 38508,
 30902,
 38483,
 32591,
 36387,
 41428,
 35551,
 37119,
 34025,
 39117,
 35561,
 37368,
 42336,
 33327,
 33993,
 42352,
 37140,
 31767,
 42785,
 38712,
 34326,
 34347,
 38701,
 36644,
 43577,
 36374,
 40616,
 40777,
 34958,
 34341,
 34327,
 42609,
 30897,
 41890,
 48905,
 37141,
 34675,
 40081,
 34958,
 40069,
 37855,
 41906,
 40934,
 37140,
 35546,
 38302,
 34676,
 31788,
 39701,
 39150,
 33660,
 38071,
 34949,
 32969,
 32578,
 32582,
 35278,
 40426,
 32590,
 33305,
 39328,
 38278,
 36382,
 37384,
 36891,
 30911,
 39692,
 40258,
 39526,
 39514,
 40600,
 41114,
 32191,
 36890,
 38066,
 40419,
 30896,
 31786,
 35828,
 36106,
 38717,
 34962,
 39895,
 40082,
 38696,
 36639,
 35268,
 40273,
 37138,
 33681,
 38284,
 35264,
 40088,
 38079,
 39696,
 34668,
 39892,
 36882,
 37133,
 39505,
 40266,
 35269,
 35553,
 35846,
 36377,
 39522,
 35546,
 35268,
 29954,
 30906,
 41270,
 35265,
 40250,
 34648,
 39128,
 43828,
 39326,
 39522,
 38707,
 38502,
 32203,
 38715,
 35257,
 36107,
 36374,
 39509,
 37841,
 34980,
 38931,
 40952,
 39500,
 41743,
 38511,
 36891,
 36369,
 37833,
 39511,
 37611,
 37839,
 34971,
 36119,
 37838,
 38084,
 38070,
 37157,
 33301,
 34661,
 36111,
 30913,
 30920,
 37127,
 40598,
 41597,
 39321,
 34978,
 38924,
 42204,
 39310,
 39115,
 37396,
 37153,
 34368,
 40940,
 42353,
 38061,
 30916,
 38058,
 38733,
 40265,
 40427,
 39317,
 36086,
 43949,
 39515,
 34336,
 36885,
 31790,
 38520,
 33324,
 36648,
 40260,
 40438,
 36879,
 34666,
 38282,
 41619,
 39698,
 31794,
 37818,
 33323,
 38702,
 37390,
 34008,
 38064,
 38069,
 35269,
 41108,
 38083,
 37610,
 42195,
 37848,
 41886,
 34642,
 33661,
 34688,
 38061,
 36376,
 38285,
 35844,
 40071,
 31365,
 31762,
 36888,
 36648,
 36115,
 39711,
 36361,
 40078,
 35552,
 42185,
 35826,
 29447,
 38050,
 40964,
 35254,
 37138,
 37381,
 35542,
 36377,
 37392,
 36632,
 42050,
 38710,
 35550,
 38073,
 42360,
 42346,
 37613,
 31358,
 34316,
 37864,
 37842,
 40947,
 37832,
 38712,
 34968,
 37587,
 37355,
 40425,
 39518,
 35837,
 35824,
 34025,
 34972,
 37834,
 38493,
 38500,
 37822,
 36365,
 37614,
 39513,
 39525,
 36896,
 37844,
 37366,
 38706,
 37850,
 38281,
 35258,
 35837,
 34970,
 38939,
 37834,
 35821,
 35837,
 38066,
 41285,
 37625,
 43700,
 41750,
 35836,
 33310,
 35269,
 45112,
 38274,
 38072,
 39131,
 38074,
 38719,
 36361,
 40049,
 34344,
 39113,
 31771,
 34957,
 31781,
 40770,
 39873,
 38500,
 40613,
 37365,
 41905,
 32173,
 33680,
 39324,
 37126,
 37625,
 38730,
 40961,
 31352,
 35269,
 37148,
 32185,
 29945,
 36643,
 36626,
 35843,
 42067,
 37621,
 33319,
 38304,
 33329,
 39334,
 37642,
 36888,
 35817,
 39515,
 34957,
 39523,
 34965,
 39138,
 40089,
 39718,
 36104,
 37824,
 41116,
 40791,
 36371,
 37369,
 38287,
 43027,
 34665,
 35563,
 37377,
 34357,
 36106,
 38486,
 34993,
 37859,
 35552,
 36106,
 42040,
 39124,
 39875,
 41116,
 35834,
 35559,
 39115,
 35259,
 40446,
 43943,
 37822,
 38281,
 40077,
 39894,
 38502,
 38062,
 38286,
 36375,
 39116,
 38499,
 32182,
 36118,
 40947,
 38074,
 41435,
 38720,
 36892,
 35562,
 37610,
 41259,
 44425,
 40262,
 37859,
 34662,
 38087,
 39888,
 35546,
 39314,
 38485,
 37859,
 38485,
 40429,
 35251,
 39723,
 37370,
 39889,
 42635,
 39518,
 39895,
 37609,
 34335,
 38075,
 33668,
 38061,
 40077,
 32967,
 37126,
 37624,
 40773,
 32958,
 37125,
 38054,
 36641,
 39113,
 40418,
 34665,
 38924,
 35567,
 40768,
 36112,
 36617,
 40071,
 41739,
 30920,
 41289,
 34983,
 39107,
 34949,
 37624,
 34340,
 36901,
 39505,
 33687,
 34027,
 34344,
 37609,
 30920,
 37130,
 37140,
 39884,
 39688,
 34973,
 37364,
 38509,
 34337,
 39700,
 33654,
 35247,
 37135,
 38711,
 38512,
 40620,
 34011,
 37843,
 33677,
 36647,
 38916,
 36640,
 38066,
 39885,
 39135,
 37842,
 38903,
 37135,
 36110,
 34675,
 37124,
 36108,
 40609,
 33327,
 39496,
 37131,
 31782,
 41890,
 40076,
 39909,
 32186,
 38914,
 41758,
 38066,
 37159,
 43186,
 40934,
 35848,
 40071,
 38915,
 34015,
 35840,
 34654,
 34013,
 32576,
 40058,
 40958,
 33672,
 38287,
 37158,
 31785,
 34670,
 38916,
 40767,
 37832,
 38065,
 39704,
 39502,
 35836,
 35265,
 36650,
 32190,
 32975,
 37619,
 36371,
 37393,
 38283,
 33335,
 36627,
 40282,
 36622,
 39334,
 38708,
 41428,
 39884,
 36642,
 38275,
 38074,
 33326,
 37604,
 31775,
 40071,
 38291,
 39517,
 38901,
 39707,
 33681,
 40403,
 37373,
 38267,
 37144,
 35548,
 36097,
 39116,
 38687,
 38493,
 30913,
 38696,
 35555,
 33350,
 36870,
 36631,
 34966,
 37136,
 36373,
 39108,
 36102,
 31774,
 36103,
 37380,
 43301,
 35854,
 40076,
 36640,
 34348,
 33319,
 37836,
 35842,
 38286,
 42336,
 30917,
 38714,
 34975,
 37605,
 37385,
 34020,
 35245,
 37390,
 34654,
 34324,
 39496,
 32594,
 34650,
 38720,
 38076,
 37126,
 38721,
 38703,
 33678,
 34647,
 38924,
 34020,
 39120,
 35253,
 37383,
 39137,
 36371,
 38287,
 38084,
 35547,
 34330,
 34334,
 32198,
 41096,
 39518,
 36379,
 44773,
 41455,
 34004,
 35843,
 39334,
 37158,
 29441,
 33318,
 39134,
 31390,
 34023,
 37829,
 37844,
 39715,
 40061,
 37107,
 40079,
 32968,
 40268,
 35841,
 31787,
 34018,
 37835,
 33685,
 46066,
 42635,
 33664,
 34002,
 36623,
 35838,
 36893,
 40596,
 38511,
 39297,
 38713,
 38271,
 36104,
 41575,
 42345,
 39510,
 42467,
 38919,
 37373,
 38043,
 33680,
 34348,
 36382,
 39313,
 39316,
 37600,
 36640,
 42761,
 41429,
 35551,
 39692,
 36875,
 35549,
 36089,
 37618,
 39724,
 41424,
 37145,
 40069,
 39108,
 37134,
 33326,
 36376,
 39890,
 37630,
 40254,
 40942,
 33331,
 36388,
 39916,
 32575,
 36114,
 36372,
 38698,
 36635,
 32964,
 41910,
 34029,
 36874,
 37127,
 40948,
 37370,
 33325,
 39119,
 38701,
 32960,
 40780,
 35850,
 39526,
 37836,
 32949,
 35292,
 37616,
 33680,
 40595,
 39511,
 34654,
 35556,
 31782,
 34661,
 36385,
 35819,
 41120,
 39703,
 38510,
 37852,
 34657,
 41438,
 37827,
 32946,
 36915,
 37610,
 36099,
 41091,
 39125,
 42185,
 36638,
 32169,
 36645,
 34013,
 41586,
 37140,
 33319,
 41585,
 33329,
 37123,
 40422,
 32980,
 34671,
 34010,
 37617,
 35829,
 42894,
 39694,
 37129,
 37377,
 37131,
 40432,
 38499,
 35821,
 36893,
 33317,
 35268,
 38521,
 31362,
 32587,
 39109,
 37370,
 40613,
 32952,
 34960,
 35552,
 39891,
 39311,
 32181,
 39888,
 31366,
 38500,
 36369,
 40953,
 31784,
 35836,
 36108,
 32196,
 36363,
 40248,
 37827,
 39490,
 34953,
 36892,
 37594,
 34944,
 35261,
 36368,
 39104,
 37615,
 37123,
 39904,
 39323,
 39124,
 35549,
 38724,
 40938,
 41890,
 34961,
 40952,
 37606,
 36891,
 36633,
 34643,
 38052,
 40074,
 36636,
 34971,
 39706,
 40786,
 34360,
 38268,
 39535,
 38514,
 38724,
 41756,
 37851,
 35262,
 41104,
 37379,
 39099,
 35253,
 36915,
 37135,
 34970,
 40939,
 40938,
 41900,
 38915,
 36902,
 38284,
 38929,
 36896,
 40795,
 40774,
 38912,
 41436,
 38059,
 35849,
 34008,
 37617,
 38495,
 38482,
 37362,
 36357,
 40090,
 38498,
 39320,
 35572,
 40422,
 38057,
 41425,
 34955,
 38291,
 36882,
 37595,
 39521,
 37359,
 36113,
 37130,
 41111,
 32956,
 39503,
 38707,
 35254,
 38075,
 36363,
 42212,
 35261,
 36113,
 35542,
 37379,
 34350,
 32182,
 33688,
 34662,
 39884,
 42904,
 38695,
 34955,
 42195,
 40065,
 34343,
 37598,
 37392,
 33316,
 36876,
 38063,
 35539,
 35254,
 39494,
 39113,
 38066,
 36892,
 37379,
 35848,
 42478,
 39715,
 38933,
 35274,
 41441,
 36641,
 39519,
 35528,
 40439,
 36641,
 37146,
 38705,
 15080.4,
 36110,
 35269,
 36106,
 39704,
 38295,
 35853,
 36374,
 33677,
 34329,
 37840,
 41112,
 36887,
 39698,
 41104,
 37404,
 35272,
 33666,
 41278,
 34022,
 37374,
 32210,
 37135,
 34658,
 38499,
 41280,
 38726,
 34643,
 34325,
 35830,
 33335,
 39320,
 31776,
 37840,
 31346,
 33322,
 33682,
 42198,
 34663,
 39101,
 33313,
 40227,
 36897,
 41239,
 33681,
 33668,
 39698,
 41421,
 38064,
 38067,
 36901,
 32972,
 32957,
 35839,
 36371,
 36380,
 34973,
 38904,
 32592,
 43807,
 39108,
 40936,
 37115,
 ...]

## age of driver

In [141]:
#max and min 
print('bi max and min: \n')
display(claim_bi_df['age_of_driver'].max()) 
display(claim_bi_df['age_of_driver'].min()) 
print('ml max and min: \n')
display(claim_ml_df['age_of_driver'].max())
display(claim_ml_df['age_of_driver'].min())

bi max and min:

229

18

ml max and min:

229

18

In [142]:
#checking how many people are over 100
claim_bi_df[claim_bi_df['age_of_driver'] > 100]

,claim_number,age_of_driver,gender,marital_status,safty_rating,annual_income,high_education_ind,address_change_ind,living_status,zip_code,...,liab_prct,channel,policy_report_filed_ind,claim_est_payout,age_of_vehicle,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud
25,38,200,M,1.0,60,52988,1,1,Rent,85020,...,85,Phone,1,5782.0,5.0,Compact,21503.0,other,21437.34,0
70,111,133,M,1.0,60,48905,1,1,Own,15014,...,22,Broker,1,5923.0,7.0,Medium,7627.0,blue,24659.78,0
1217,2005,229,M,1.0,52,54333,1,0,Rent,15033,...,31,Broker,1,5025.0,6.0,Compact,29133.0,gray,19643.51,1
14078,23404,113,F,1.0,79,47273,1,0,Own,85033,...,93,Broker,0,5175.0,6.0,Large,19407.0,white,12325.66,0

In [143]:
# changing age over 100 to usa retirement age 

driver_age_clean_ml = []
driver_age_clean_bi = []
usa_retirement = 67

for age1 in claim_bi_df['age_of_driver']:
    if age1 > 100:
        driver_age_clean_ml.append(usa_retirement)
    else:
        driver_age_clean_ml.append(age1)

for age2 in claim_ml_df['age_of_driver']:
    if age2 > 100:
        driver_age_clean_bi.append(usa_retirement)
    else:
        driver_age_clean_bi.append(age2)

display(driver_age_clean_ml)
display(driver_age_clean_bi)

[46,
 21,
 49,
 58,
 38,
 56,
 27,
 40,
 45,
 31,
 53,
 59,
 25,
 39,
 51,
 47,
 26,
 46,
 43,
 39,
 40,
 70,
 24,
 32,
 50,
 67,
 44,
 37,
 52,
 56,
 32,
 40,
 52,
 50,
 58,
 62,
 47,
 22,
 47,
 26,
 38,
 63,
 35,
 41,
 30,
 50,
 35,
 42,
 69,
 28,
 30,
 69,
 41,
 24,
 72,
 48,
 31,
 31,
 48,
 39,
 78,
 38,
 58,
 59,
 33,
 31,
 31,
 71,
 22,
 66,
 67,
 41,
 32,
 55,
 33,
 55,
 44,
 66,
 60,
 41,
 35,
 46,
 32,
 24,
 53,
 50,
 29,
 45,
 33,
 27,
 26,
 26,
 34,
 57,
 26,
 28,
 51,
 46,
 38,
 42,
 40,
 22,
 53,
 56,
 52,
 52,
 58,
 61,
 25,
 40,
 45,
 57,
 22,
 24,
 36,
 37,
 48,
 33,
 54,
 55,
 48,
 39,
 34,
 56,
 41,
 29,
 46,
 34,
 55,
 45,
 53,
 32,
 54,
 40,
 41,
 52,
 56,
 34,
 35,
 36,
 38,
 52,
 35,
 34,
 20,
 22,
 62,
 34,
 56,
 32,
 50,
 80,
 51,
 52,
 48,
 47,
 25,
 48,
 34,
 37,
 38,
 52,
 44,
 33,
 49,
 60,
 52,
 65,
 47,
 40,
 38,
 44,
 52,
 43,
 44,
 33,
 37,
 44,
 45,
 45,
 41,
 28,
 32,
 37,
 22,
 22,
 41,
 58,
 64,
 51,
 33,
 49,
 68,
 51,
 50,
 42,
 41,
 31,
 60,
 69,
 45,
 22,
 45,
 48,
 56,
 57,
 51,
 37,
 81,
 52,
 31,
 40,
 24,
 47,
 28,
 39,
 56,
 57,
 40,
 32,
 46,
 64,
 53,
 24,
 44,
 28,
 48,
 42,
 30,
 45,
 45,
 34,
 61,
 45,
 43,
 68,
 44,
 66,
 32,
 29,
 32,
 45,
 38,
 46,
 36,
 55,
 23,
 24,
 40,
 39,
 37,
 53,
 38,
 55,
 35,
 68,
 36,
 19,
 45,
 60,
 34,
 41,
 42,
 35,
 38,
 42,
 39,
 67,
 48,
 35,
 45,
 69,
 69,
 43,
 23,
 31,
 44,
 44,
 60,
 44,
 48,
 33,
 43,
 42,
 57,
 52,
 36,
 36,
 30,
 33,
 44,
 47,
 47,
 44,
 38,
 43,
 52,
 52,
 40,
 44,
 42,
 48,
 44,
 46,
 34,
 36,
 33,
 49,
 44,
 36,
 36,
 45,
 62,
 43,
 79,
 65,
 36,
 28,
 34,
 91,
 46,
 45,
 50,
 45,
 48,
 38,
 55,
 31,
 50,
 24,
 33,
 24,
 59,
 54,
 47,
 58,
 42,
 66,
 25,
 29,
 51,
 41,
 43,
 48,
 60,
 23,
 34,
 41,
 25,
 20,
 39,
 39,
 36,
 67,
 43,
 28,
 46,
 28,
 51,
 43,
 40,
 36,
 52,
 33,
 52,
 33,
 50,
 55,
 53,
 37,
 44,
 61,
 59,
 38,
 42,
 46,
 74,
 32,
 35,
 42,
 31,
 37,
 47,
 33,
 44,
 35,
 37,
 67,
 50,
 54,
 61,
 36,
 35,
 50,
 34,
 57,
 81,
 44,
 46,
 55,
 54,
 47,
 45,
 46,
 38,
 50,
 47,
 25,
 37,
 60,
 45,
 63,
 48,
 40,
 35,
 43,
 62,
 85,
 56,
 44,
 32,
 45,
 54,
 35,
 51,
 47,
 44,
 47,
 57,
 34,
 53,
 42,
 54,
 71,
 52,
 54,
 43,
 31,
 45,
 29,
 45,
 55,
 27,
 41,
 43,
 59,
 27,
 41,
 45,
 39,
 50,
 57,
 32,
 49,
 35,
 59,
 37,
 39,
 55,
 65,
 22,
 62,
 33,
 50,
 33,
 43,
 31,
 40,
 52,
 29,
 30,
 31,
 43,
 22,
 41,
 41,
 54,
 53,
 33,
 42,
 47,
 31,
 53,
 29,
 34,
 41,
 48,
 47,
 58,
 30,
 44,
 29,
 39,
 49,
 39,
 45,
 54,
 50,
 44,
 49,
 41,
 37,
 32,
 41,
 37,
 58,
 28,
 52,
 41,
 24,
 66,
 55,
 54,
 25,
 49,
 65,
 45,
 41,
 75,
 60,
 36,
 55,
 49,
 30,
 36,
 32,
 30,
 26,
 55,
 60,
 29,
 46,
 41,
 24,
 32,
 49,
 59,
 44,
 45,
 53,
 52,
 36,
 34,
 39,
 25,
 27,
 43,
 38,
 42,
 46,
 28,
 39,
 56,
 39,
 51,
 48,
 63,
 54,
 39,
 46,
 45,
 28,
 43,
 24,
 55,
 46,
 52,
 49,
 53,
 29,
 57,
 42,
 46,
 41,
 35,
 37,
 50,
 48,
 47,
 22,
 48,
 35,
 28,
 40,
 39,
 33,
 41,
 38,
 50,
 37,
 24,
 37,
 42,
 76,
 36,
 55,
 39,
 31,
 28,
 44,
 36,
 46,
 69,
 22,
 48,
 33,
 43,
 42,
 30,
 34,
 42,
 32,
 31,
 52,
 26,
 32,
 48,
 45,
 41,
 48,
 48,
 29,
 32,
 49,
 30,
 50,
 34,
 42,
 50,
 38,
 46,
 45,
 35,
 31,
 31,
 25,
 61,
 52,
 38,
 88,
 63,
 30,
 36,
 51,
 41,
 19,
 28,
 50,
 23,
 30,
 44,
 44,
 53,
 55,
 41,
 55,
 27,
 56,
 36,
 24,
 30,
 44,
 29,
 100,
 71,
 29,
 30,
 39,
 36,
 40,
 58,
 47,
 51,
 48,
 46,
 37,
 64,
 69,
 52,
 70,
 49,
 42,
 45,
 29,
 31,
 38,
 51,
 51,
 43,
 39,
 72,
 63,
 35,
 53,
 40,
 35,
 37,
 43,
 53,
 63,
 41,
 55,
 50,
 41,
 28,
 38,
 54,
 43,
 56,
 60,
 28,
 38,
 54,
 26,
 37,
 38,
 48,
 39,
 27,
 66,
 30,
 40,
 41,
 60,
 42,
 28,
 50,
 48,
 27,
 59,
 36,
 52,
 44,
 27,
 34,
 43,
 29,
 58,
 52,
 32,
 35,
 24,
 32,
 38,
 36,
 61,
 53,
 47,
 44,
 32,
 63,
 44,
 27,
 40,
 43,
 37,
 61,
 50,
 68,
 39,
 25,
 39,
 30,
 64,
 41,
 28,
 64,
 28,
 41,
 57,
 27,
 32,
 30,
 43,
 36,
 73,
 53,
 41,
 42,
 41,
 57,
 47,
 36,
 40,
 28,
 34,
 47,
 23,
 26,
 50,
 42,
 58,
 27,
 33,
 35,
 54,
 51,
 25,
 54,
 23,
 47,
 38,
 60,
 24,
 36,
 37,
 25,
 38,
 56,
 44,
 52,
 33,
 40,
 43,
 33,
 34,
 38,
 50,
 43,
 41,
 54,
 51,
 50,
 35,
 48,
 60,
 66,
 33,
 60,
 43,
 40,
 39,
 32,
 45,
 55,
 39,
 33,
 53,
 59,
 31,
 46,
 52,
 47,
 48,
 65,
 44,
 34,
 61,
 42,
 50,
 34,
 40,
 41,
 33,
 60,
 60,
 66,
 49,
 40,
 46,
 49,
 40,
 59,
 59,
 49,
 63,
 45,
 36,
 30,
 43,
 47,
 47,
 42,
 38,
 55,
 47,
 51,
 35,
 57,
 45,
 63,
 33,
 46,
 40,
 43,
 52,
 42,
 37,
 41,
 61,
 27,
 52,
 48,
 34,
 45,
 38,
 68,
 34,
 37,
 35,
 42,
 31,
 25,
 29,
 32,
 54,
 73,
 48,
 33,
 68,
 55,
 31,
 43,
 42,
 28,
 40,
 45,
 35,
 34,
 52,
 50,
 45,
 40,
 42,
 36,
 70,
 53,
 49,
 34,
 63,
 39,
 52,
 35,
 57,
 39,
 41,
 48,
 49,
 37,
 34,
 37,
 53,
 46,
 36,
 38,
 29,
 31,
 44,
 61,
 40,
 53,
 61,
 42,
 34,
 29,
 62,
 30,
 42,
 25,
 41,
 32,
 47,
 62,
 48,
 32,
 31,
 36,
 28,
 51,
 24,
 44,
 23,
 28,
 29,
 68,
 32,
 50,
 28,
 56,
 40,
 62,
 29,
 29,
 53,
 63,
 45,
 45,
 40,
 27,
 27,
 36,
 38,
 38,
 33,
 49,
 26,
 80,
 50,
 60,
 41,
 ...]

[46,
 21,
 49,
 58,
 38,
 56,
 27,
 40,
 45,
 31,
 53,
 59,
 25,
 39,
 51,
 47,
 26,
 46,
 43,
 39,
 40,
 70,
 24,
 32,
 50,
 67,
 44,
 37,
 52,
 56,
 32,
 40,
 52,
 50,
 58,
 62,
 47,
 22,
 47,
 26,
 38,
 63,
 35,
 41,
 30,
 50,
 35,
 42,
 69,
 28,
 30,
 69,
 41,
 24,
 72,
 48,
 31,
 31,
 48,
 39,
 78,
 38,
 58,
 59,
 33,
 31,
 31,
 71,
 22,
 66,
 67,
 41,
 32,
 55,
 33,
 55,
 44,
 66,
 60,
 41,
 35,
 46,
 32,
 24,
 53,
 50,
 29,
 45,
 33,
 27,
 26,
 26,
 34,
 57,
 26,
 28,
 51,
 46,
 38,
 42,
 40,
 22,
 53,
 56,
 52,
 52,
 58,
 61,
 25,
 40,
 45,
 57,
 22,
 24,
 36,
 37,
 48,
 33,
 54,
 55,
 48,
 39,
 34,
 56,
 41,
 29,
 46,
 34,
 55,
 45,
 53,
 32,
 54,
 40,
 41,
 52,
 56,
 34,
 35,
 36,
 38,
 52,
 35,
 34,
 20,
 22,
 62,
 34,
 56,
 32,
 50,
 80,
 51,
 52,
 48,
 47,
 25,
 48,
 34,
 37,
 38,
 52,
 44,
 33,
 49,
 60,
 52,
 65,
 47,
 40,
 38,
 44,
 52,
 43,
 44,
 33,
 37,
 44,
 45,
 45,
 41,
 28,
 32,
 37,
 22,
 22,
 41,
 58,
 64,
 51,
 33,
 49,
 68,
 51,
 50,
 42,
 41,
 31,
 60,
 69,
 45,
 22,
 45,
 48,
 56,
 57,
 51,
 37,
 81,
 52,
 31,
 40,
 24,
 47,
 28,
 39,
 56,
 57,
 40,
 32,
 46,
 64,
 53,
 24,
 44,
 28,
 48,
 42,
 30,
 45,
 45,
 34,
 61,
 45,
 43,
 68,
 44,
 66,
 32,
 29,
 32,
 45,
 38,
 46,
 36,
 55,
 23,
 24,
 40,
 39,
 37,
 53,
 38,
 55,
 35,
 68,
 36,
 19,
 45,
 60,
 34,
 41,
 42,
 35,
 38,
 42,
 39,
 67,
 48,
 35,
 45,
 69,
 69,
 43,
 23,
 31,
 44,
 44,
 60,
 44,
 48,
 33,
 43,
 42,
 57,
 52,
 36,
 36,
 30,
 33,
 44,
 47,
 47,
 44,
 38,
 43,
 52,
 52,
 40,
 44,
 42,
 48,
 44,
 46,
 34,
 36,
 33,
 49,
 44,
 36,
 36,
 45,
 62,
 43,
 79,
 65,
 36,
 28,
 34,
 91,
 46,
 45,
 50,
 45,
 48,
 38,
 55,
 31,
 50,
 24,
 33,
 24,
 59,
 54,
 47,
 58,
 42,
 66,
 25,
 29,
 51,
 41,
 43,
 48,
 60,
 23,
 34,
 41,
 25,
 20,
 39,
 39,
 36,
 67,
 43,
 28,
 46,
 28,
 51,
 43,
 40,
 36,
 52,
 33,
 52,
 33,
 50,
 55,
 53,
 37,
 44,
 61,
 59,
 38,
 42,
 46,
 74,
 32,
 35,
 42,
 31,
 37,
 47,
 33,
 44,
 35,
 37,
 67,
 50,
 54,
 61,
 36,
 35,
 50,
 34,
 57,
 81,
 44,
 46,
 55,
 54,
 47,
 45,
 46,
 38,
 50,
 47,
 25,
 37,
 60,
 45,
 63,
 48,
 40,
 35,
 43,
 62,
 85,
 56,
 44,
 32,
 45,
 54,
 35,
 51,
 47,
 44,
 47,
 57,
 34,
 53,
 42,
 54,
 71,
 52,
 54,
 43,
 31,
 45,
 29,
 45,
 55,
 27,
 41,
 43,
 59,
 27,
 41,
 45,
 39,
 50,
 57,
 32,
 49,
 35,
 59,
 37,
 39,
 55,
 65,
 22,
 62,
 33,
 50,
 33,
 43,
 31,
 40,
 52,
 29,
 30,
 31,
 43,
 22,
 41,
 41,
 54,
 53,
 33,
 42,
 47,
 31,
 53,
 29,
 34,
 41,
 48,
 47,
 58,
 30,
 44,
 29,
 39,
 49,
 39,
 45,
 54,
 50,
 44,
 49,
 41,
 37,
 32,
 41,
 37,
 58,
 28,
 52,
 41,
 24,
 66,
 55,
 54,
 25,
 49,
 65,
 45,
 41,
 75,
 60,
 36,
 55,
 49,
 30,
 36,
 32,
 30,
 26,
 55,
 60,
 29,
 46,
 41,
 24,
 32,
 49,
 59,
 44,
 45,
 53,
 52,
 36,
 34,
 39,
 25,
 27,
 43,
 38,
 42,
 46,
 28,
 39,
 56,
 39,
 51,
 48,
 63,
 54,
 39,
 46,
 45,
 28,
 43,
 24,
 55,
 46,
 52,
 49,
 53,
 29,
 57,
 42,
 46,
 41,
 35,
 37,
 50,
 48,
 47,
 22,
 48,
 35,
 28,
 40,
 39,
 33,
 41,
 38,
 50,
 37,
 24,
 37,
 42,
 76,
 36,
 55,
 39,
 31,
 28,
 44,
 36,
 46,
 69,
 22,
 48,
 33,
 43,
 42,
 30,
 34,
 42,
 32,
 31,
 52,
 26,
 32,
 48,
 45,
 41,
 48,
 48,
 29,
 32,
 49,
 30,
 50,
 34,
 42,
 50,
 38,
 46,
 45,
 35,
 31,
 31,
 25,
 61,
 52,
 38,
 88,
 63,
 30,
 36,
 51,
 41,
 19,
 28,
 50,
 23,
 30,
 44,
 44,
 53,
 55,
 41,
 55,
 27,
 56,
 36,
 24,
 30,
 44,
 29,
 100,
 71,
 29,
 30,
 39,
 36,
 40,
 58,
 47,
 51,
 48,
 46,
 37,
 64,
 69,
 52,
 70,
 49,
 42,
 45,
 29,
 31,
 38,
 51,
 51,
 43,
 39,
 72,
 63,
 35,
 53,
 40,
 35,
 37,
 43,
 53,
 63,
 41,
 55,
 50,
 41,
 28,
 38,
 54,
 43,
 56,
 60,
 28,
 38,
 54,
 26,
 37,
 38,
 48,
 39,
 27,
 66,
 30,
 40,
 41,
 60,
 42,
 28,
 50,
 48,
 27,
 59,
 36,
 52,
 44,
 27,
 34,
 43,
 29,
 58,
 52,
 32,
 35,
 24,
 32,
 38,
 36,
 61,
 53,
 47,
 44,
 32,
 63,
 44,
 27,
 40,
 43,
 37,
 61,
 50,
 68,
 39,
 25,
 39,
 30,
 64,
 41,
 28,
 64,
 28,
 41,
 57,
 27,
 32,
 30,
 43,
 36,
 73,
 53,
 41,
 42,
 41,
 57,
 47,
 36,
 40,
 28,
 34,
 47,
 23,
 26,
 50,
 42,
 58,
 27,
 33,
 35,
 54,
 51,
 25,
 54,
 23,
 47,
 38,
 60,
 24,
 36,
 37,
 25,
 38,
 56,
 44,
 52,
 33,
 40,
 43,
 33,
 34,
 38,
 50,
 43,
 41,
 54,
 51,
 50,
 35,
 48,
 60,
 66,
 33,
 60,
 43,
 40,
 39,
 32,
 45,
 55,
 39,
 33,
 53,
 59,
 31,
 46,
 52,
 47,
 48,
 65,
 44,
 34,
 61,
 42,
 50,
 34,
 40,
 41,
 33,
 60,
 60,
 66,
 49,
 40,
 46,
 49,
 40,
 59,
 59,
 49,
 63,
 45,
 36,
 30,
 43,
 47,
 47,
 42,
 38,
 55,
 47,
 51,
 35,
 57,
 45,
 63,
 33,
 46,
 40,
 43,
 52,
 42,
 37,
 41,
 61,
 27,
 52,
 48,
 34,
 45,
 38,
 68,
 34,
 37,
 35,
 42,
 31,
 25,
 29,
 32,
 54,
 73,
 48,
 33,
 68,
 55,
 31,
 43,
 42,
 28,
 40,
 45,
 35,
 34,
 52,
 50,
 45,
 40,
 42,
 36,
 70,
 53,
 49,
 34,
 63,
 39,
 52,
 35,
 57,
 39,
 41,
 48,
 49,
 37,
 34,
 37,
 53,
 46,
 36,
 38,
 29,
 31,
 44,
 61,
 40,
 53,
 61,
 42,
 34,
 29,
 62,
 30,
 42,
 25,
 41,
 32,
 47,
 62,
 48,
 32,
 31,
 36,
 28,
 51,
 24,
 44,
 23,
 28,
 29,
 68,
 32,
 50,
 28,
 56,
 40,
 62,
 29,
 29,
 53,
 63,
 45,
 45,
 40,
 27,
 27,
 36,
 38,
 38,
 33,
 49,
 26,
 80,
 50,
 60,
 41,
 ...]

## converting lists into data frames and concat

In [144]:
driver_age_ml = pd.DataFrame({'driver_age':driver_age_clean_ml})
driver_age_bi = pd.DataFrame({'driver_age':driver_age_clean_bi})
salary_bi_clean = pd.DataFrame({'salary':salary_clean_bi})
salary_ml_clean = pd.DataFrame({'salary':salary_clean_ml})

In [145]:
#concatenation
claim_bi_df = pd.concat([claim_bi_df,driver_age_bi,salary_bi_clean], axis = 1)
claim_ml_df = pd.concat([claim_ml_df,driver_age_ml,salary_ml_clean], axis = 1)

## validate

In [146]:
def head_data(data):
    head = data.head()
    return head

display(head_data(claim_bi_df))
display(head_data(claim_ml_df))

,claim_number,age_of_driver,gender,marital_status,safty_rating,annual_income,high_education_ind,address_change_ind,living_status,zip_code,...,policy_report_filed_ind,claim_est_payout,age_of_vehicle,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud,driver_age,salary
0,1,46,M,1.0,85,38301,1,1,Rent,80006,...,0,7531.0,9.0,Compact,12885.0,white,16161.33,0,46,38301.0
1,3,21,F,0.0,75,30445,0,1,Rent,15021,...,0,2966.0,4.0,Large,29429.0,white,28691.96,0,21,30445.0
2,4,49,F,0.0,87,38923,0,1,Own,20158,...,0,6284.0,3.0,Compact,21701.0,white,22090.95,1,49,38923.0
3,5,58,F,1.0,58,40605,1,0,Own,15024,...,1,6170.0,4.0,Medium,13198.0,other,38329.58,1,58,40605.0
4,6,38,M,1.0,95,36380,1,0,Rent,50034,...,0,4541.0,7.0,Medium,38060.0,gray,25876.56,0,38,36380.0

,claim_number,age_of_driver,gender,marital_status,safty_rating,annual_income,high_education_ind,address_change_ind,living_status,zip_code,...,policy_report_filed_ind,claim_est_payout,age_of_vehicle,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud,driver_age,salary
0,1,46,M,1.0,85,38301,1,1,Rent,80006,...,0,7531.0,9.0,Compact,12885.0,white,16161.33,0,46,38301.0
1,3,21,F,0.0,75,30445,0,1,Rent,15021,...,0,2966.0,4.0,Large,29429.0,white,28691.96,0,21,30445.0
2,4,49,F,0.0,87,38923,0,1,Own,20158,...,0,6284.0,3.0,Compact,21701.0,white,22090.95,1,49,38923.0
3,5,58,F,1.0,58,40605,1,0,Own,15024,...,1,6170.0,4.0,Medium,13198.0,other,38329.58,1,58,40605.0
4,6,38,M,1.0,95,36380,1,0,Rent,50034,...,0,4541.0,7.0,Medium,38060.0,gray,25876.56,0,38,36380.0

## drop original columns

In [147]:
claim_bi_df = claim_bi_df.drop(columns = {'age_of_driver', 'annual_income'}, axis = 1)
claim_ml_df = claim_ml_df.drop(columns = {'age_of_driver', 'annual_income'}, axis = 1)

In [148]:
claim_ml_df

,claim_number,gender,marital_status,safty_rating,high_education_ind,address_change_ind,living_status,zip_code,claim_date,claim_day_of_week,...,policy_report_filed_ind,claim_est_payout,age_of_vehicle,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud,driver_age,salary
0,1,M,1.0,85,1,1,Rent,80006,2016-12-16,Friday,...,0,7531.0,9.0,Compact,12885.0,white,16161.33,0,46,38301.0
1,3,F,0.0,75,0,1,Rent,15021,2015-02-12,Thursday,...,0,2966.0,4.0,Large,29429.0,white,28691.96,0,21,30445.0
2,4,F,0.0,87,0,1,Own,20158,2016-12-06,Tuesday,...,0,6284.0,3.0,Compact,21701.0,white,22090.95,1,49,38923.0
3,5,F,1.0,58,1,0,Own,15024,2016-05-05,Thursday,...,1,6170.0,4.0,Medium,13198.0,other,38329.58,1,58,40605.0
4,6,M,1.0,95,1,0,Rent,50034,2015-10-27,Tuesday,...,0,4541.0,7.0,Medium,38060.0,gray,25876.56,0,38,36380.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17993,29993,M,1.0,93,1,0,Own,15012,2015-03-28,Saturday,...,0,4807.0,6.0,Medium,32145.0,black,16868.53,0,69,42338.0
17994,29996,F,0.0,22,1,1,Own,20111,2015-01-05,Monday,...,1,4090.0,3.0,Medium,9469.0,blue,31501.00,1,35,35579.0
17995,29997,F,1.0,81,0,1,Rent,15012,2016-09-10,Saturday,...,1,2226.0,5.0,Medium,64974.0,black,44536.26,0,27,32953.0
17996,29999,F,1.0,86,1,0,Own,15026,2015-12-25,Friday,...,1,9561.0,3.0,Compact,24983.0,white,50093.76,0,52,39519.0
17997,30000,F,0.0,60,1,0,Rent,50001,2016-09-26,Monday,...,0,5167.0,5.0,Medium,19296.0,blue,15257.21,0,61,41126.0

In [149]:
claim_bi_df

,claim_number,gender,marital_status,safty_rating,high_education_ind,address_change_ind,living_status,zip_code,claim_date,claim_day_of_week,...,policy_report_filed_ind,claim_est_payout,age_of_vehicle,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud,driver_age,salary
0,1,M,1.0,85,1,1,Rent,80006,2016-12-16,Friday,...,0,7531.0,9.0,Compact,12885.0,white,16161.33,0,46,38301.0
1,3,F,0.0,75,0,1,Rent,15021,2015-02-12,Thursday,...,0,2966.0,4.0,Large,29429.0,white,28691.96,0,21,30445.0
2,4,F,0.0,87,0,1,Own,20158,2016-12-06,Tuesday,...,0,6284.0,3.0,Compact,21701.0,white,22090.95,1,49,38923.0
3,5,F,1.0,58,1,0,Own,15024,2016-05-05,Thursday,...,1,6170.0,4.0,Medium,13198.0,other,38329.58,1,58,40605.0
4,6,M,1.0,95,1,0,Rent,50034,2015-10-27,Tuesday,...,0,4541.0,7.0,Medium,38060.0,gray,25876.56,0,38,36380.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17993,29993,M,1.0,93,1,0,Own,15012,2015-03-28,Saturday,...,0,4807.0,6.0,Medium,32145.0,black,16868.53,0,69,42338.0
17994,29996,F,0.0,22,1,1,Own,20111,2015-01-05,Monday,...,1,4090.0,3.0,Medium,9469.0,blue,31501.00,1,35,35579.0
17995,29997,F,1.0,81,0,1,Rent,15012,2016-09-10,Saturday,...,1,2226.0,5.0,Medium,64974.0,black,44536.26,0,27,32953.0
17996,29999,F,1.0,86,1,0,Own,15026,2015-12-25,Friday,...,1,9561.0,3.0,Compact,24983.0,white,50093.76,0,52,39519.0
17997,30000,F,0.0,60,1,0,Rent,50001,2016-09-26,Monday,...,0,5167.0,5.0,Medium,19296.0,blue,15257.21,0,61,41126.0

## checking for duplicate claim numbers

In [150]:
#returns true for duplicated, false if not duplicated 
duplicate = claim_bi_df['claim_number'].duplicated()

print('duplicate count: ', duplicate[duplicate == True].count())
print('non-duplicate count: ', duplicate[duplicate == False].count())

duplicate count:  0
non-duplicate count:  17998

## check the nulls

In [151]:
#null values
print('ML dataset nulls: \n')
display(claim_ml_df.isna().sum())
print('powerBI dataset nulls: \n')
display(claim_bi_df.isna().sum())

ML dataset nulls:

claim_number               0
gender                     0
marital_status             0
safty_rating               0
high_education_ind         0
address_change_ind         0
living_status              0
zip_code                   0
claim_date                 0
claim_day_of_week          0
accident_site              0
past_num_of_claims         0
witness_present_ind        0
liab_prct                  0
channel                    0
policy_report_filed_ind    0
claim_est_payout           0
age_of_vehicle             0
vehicle_category           0
vehicle_price              0
vehicle_color              0
vehicle_weight             0
fraud                      0
driver_age                 0
salary                     0
dtype: int64

powerBI dataset nulls:

claim_number               0
gender                     0
marital_status             0
safty_rating               0
high_education_ind         0
address_change_ind         0
living_status              0
zip_code                   0
claim_date                 0
claim_day_of_week          0
accident_site              0
past_num_of_claims         0
witness_present_ind        0
liab_prct                  0
channel                    0
policy_report_filed_ind    0
claim_est_payout           0
age_of_vehicle             0
vehicle_category           0
vehicle_price              0
vehicle_color              0
vehicle_weight             0
fraud                      0
driver_age                 0
salary                     0
dtype: int64

## Renaming columns

In [152]:
claim_ml_df = claim_ml_df.rename(columns = {'safty_rating':'safety_rating',
                                           'high_education_ind':'college_graduate',
                                           'address_change_ind':'address_change',
                                           'past_num_of_claims':'no._of_claims',
                                           'liab_prct':'liab(%)',
                                           'claim_est_payout':'claim_payout',
                                           'age_of_vehicle':'vehicle_age',
                                           'witness_present_ind':'witness_present'})
  
claim_bi_df = claim_bi_df.rename(columns = {'safty_rating':'safety_rating',
                                           'high_education_ind':'college_graduate',
                                           'address_change_ind':'address_change',
                                           'past_num_of_claims':'no._of_claims',
                                           'liab_prct':'liab(%)',
                                           'claim_est_payout':'claim_payout',
                                           'age_of_vehicle':'vehicle_age',
                                           'witness_present_ind':'witness_present'})

## validate

In [153]:
head_data(claim_bi_df)

,claim_number,gender,marital_status,safety_rating,college_graduate,address_change,living_status,zip_code,claim_date,claim_day_of_week,...,policy_report_filed_ind,claim_payout,vehicle_age,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud,driver_age,salary
0,1,M,1.0,85,1,1,Rent,80006,2016-12-16,Friday,...,0,7531.0,9.0,Compact,12885.0,white,16161.33,0,46,38301.0
1,3,F,0.0,75,0,1,Rent,15021,2015-02-12,Thursday,...,0,2966.0,4.0,Large,29429.0,white,28691.96,0,21,30445.0
2,4,F,0.0,87,0,1,Own,20158,2016-12-06,Tuesday,...,0,6284.0,3.0,Compact,21701.0,white,22090.95,1,49,38923.0
3,5,F,1.0,58,1,0,Own,15024,2016-05-05,Thursday,...,1,6170.0,4.0,Medium,13198.0,other,38329.58,1,58,40605.0
4,6,M,1.0,95,1,0,Rent,50034,2015-10-27,Tuesday,...,0,4541.0,7.0,Medium,38060.0,gray,25876.56,0,38,36380.0

In [154]:
head_data(claim_ml_df)

,claim_number,gender,marital_status,safety_rating,college_graduate,address_change,living_status,zip_code,claim_date,claim_day_of_week,...,policy_report_filed_ind,claim_payout,vehicle_age,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud,driver_age,salary
0,1,M,1.0,85,1,1,Rent,80006,2016-12-16,Friday,...,0,7531.0,9.0,Compact,12885.0,white,16161.33,0,46,38301.0
1,3,F,0.0,75,0,1,Rent,15021,2015-02-12,Thursday,...,0,2966.0,4.0,Large,29429.0,white,28691.96,0,21,30445.0
2,4,F,0.0,87,0,1,Own,20158,2016-12-06,Tuesday,...,0,6284.0,3.0,Compact,21701.0,white,22090.95,1,49,38923.0
3,5,F,1.0,58,1,0,Own,15024,2016-05-05,Thursday,...,1,6170.0,4.0,Medium,13198.0,other,38329.58,1,58,40605.0
4,6,M,1.0,95,1,0,Rent,50034,2015-10-27,Tuesday,...,0,4541.0,7.0,Medium,38060.0,gray,25876.56,0,38,36380.0

## Data Cleaning: Category mapping

In [155]:
#spark dataframes
claim_ml_sp = spark.createDataFrame(claim_ml_df)
claim_bi_sp = spark.createDataFrame(claim_bi_df)

## age ranges

In [156]:
#machine learning data 
claim_ml_sp = claim_ml_sp.withColumn('age_range', when((claim_ml_sp['driver_age'] >= 17) & (claim_ml_sp['driver_age'] < 26), ('17 to 25')).otherwise(claim_ml_sp['driver_age']))
                                           
claim_ml_sp = claim_ml_sp.withColumn('age_range', when((claim_ml_sp['age_range'] >= 26) & (claim_ml_sp['age_range'] < 35), ('26 to 34')).otherwise(claim_ml_sp['age_range']))
 
claim_ml_sp = claim_ml_sp.withColumn('age_range', when((claim_ml_sp['age_range'] >= 35) & (claim_ml_sp['age_range'] < 44), ('35 to 43')).otherwise(claim_ml_sp['age_range']))
                                           
claim_ml_sp = claim_ml_sp.withColumn('age_range', when((claim_ml_sp['age_range'] >= 44) & (claim_ml_sp['age_range'] < 53), ('44 to 52')).otherwise(claim_ml_sp['age_range']))

claim_ml_sp = claim_ml_sp.withColumn('age_range', when((claim_ml_sp['age_range'] >= 53) & (claim_ml_sp['age_range'] < 62), ('53 to 61')).otherwise(claim_ml_sp['age_range']))

claim_ml_sp = claim_ml_sp.withColumn('age_range', when((claim_ml_sp['age_range'] >= 62), '63 and over').otherwise(claim_ml_sp['age_range']))

#powerbi data 
claim_bi_sp = claim_bi_sp.withColumn('age_range', when((claim_bi_sp['driver_age'] >= 17) & (claim_bi_sp['driver_age'] < 26), ('17 to 25')).otherwise(claim_bi_sp['driver_age']))
                                              
claim_bi_sp = claim_bi_sp.withColumn('age_range', when((claim_bi_sp['age_range'] >= 26) & (claim_bi_sp['age_range'] < 35), ('26 to 34')).otherwise(claim_bi_sp['age_range']))
                                           
claim_bi_sp = claim_bi_sp.withColumn('age_range', when((claim_bi_sp['age_range'] >= 35) & (claim_bi_sp['age_range'] < 44), ('35 to 43')).otherwise(claim_bi_sp['age_range']))
                                                                            
claim_bi_sp = claim_bi_sp.withColumn('age_range', when((claim_bi_sp['age_range'] >= 44) & (claim_bi_sp['age_range'] < 53), ('44 to 52')).otherwise(claim_bi_sp['age_range']))
 
claim_bi_sp = claim_bi_sp.withColumn('age_range', when((claim_bi_sp['age_range'] >= 53) & (claim_bi_sp['age_range'] < 62), ('53 to 61')).otherwise(claim_bi_sp['age_range']))
    
claim_bi_sp = claim_bi_sp.withColumn('age_range', when((claim_bi_sp['age_range'] >= 62), '62 and over').otherwise(claim_bi_sp['age_range']))

In [157]:
claim_ml_sp.select('age_range').show()

+---------+
|age_range|
+---------+
| 44 to 52|
| 17 to 25|
| 44 to 52|
| 53 to 61|
| 35 to 43|
| 53 to 61|
| 26 to 34|
| 35 to 43|
| 44 to 52|
| 26 to 34|
| 53 to 61|
| 53 to 61|
| 17 to 25|
| 35 to 43|
| 44 to 52|
| 44 to 52|
| 26 to 34|
| 44 to 52|
| 35 to 43|
| 35 to 43|
+---------+
only showing top 20 rows

In [158]:
claim_bi_sp.select('age_range').show()

+---------+
|age_range|
+---------+
| 44 to 52|
| 17 to 25|
| 44 to 52|
| 53 to 61|
| 35 to 43|
| 53 to 61|
| 26 to 34|
| 35 to 43|
| 44 to 52|
| 26 to 34|
| 53 to 61|
| 53 to 61|
| 17 to 25|
| 35 to 43|
| 44 to 52|
| 44 to 52|
| 26 to 34|
| 44 to 52|
| 35 to 43|
| 35 to 43|
+---------+
only showing top 20 rows

In [159]:
# age_range_bi = []
# age_range_ml = []

# for age1 in claim_ml_df['age_of_driver']:
#     if (age1 >= 17) & (age1 <= 25):
#         age_range_ml.append('17 to 25')
#     elif (age1 >= 26) & (age1 <= 34):
#         age_range_ml.append('26 to 35')
#     elif (age1 >= 36) & (age1 <= 48):
#         age_range_ml.append('36 to 48')
#     elif (age1 >= 49) & (age1 <= 57):
#         age_range_ml.append('49 to 57')
#     else:
#         age_range_ml.append('58+')

        
# for age2 in claim_bi_df['age_of_driver']:
#     if (age2 >= 17) & (age2 <= 25):
#         age_range_bi.append('17 to 25')
#     elif (age2 >= 26) & (age2 <= 34):
#         age_range_bi.append('26 to 35')
#     elif (age2 >= 36) & (age2 <= 48):
#         age_range_bi.append('36 to 48')
#     elif (age2 >= 49) & (age2 <= 57):
#         age_range_bi.append('49 to 57')
#     else:
#         age_range_bi.append('58+')
       
        
        
# display(age_range_bi)
# display(age_range_ml)

## Salary ranges

In [160]:
#ML data 
claim_ml_sp = claim_ml_sp.withColumn('salary_range', when((claim_ml_sp['salary'] <= 21000.0), ('21000 or less')).otherwise(claim_ml_sp['salary']))
                                           
claim_ml_sp = claim_ml_sp.withColumn('salary_range', when((claim_ml_sp['salary_range'] >= 21001.0) & (claim_ml_sp['salary_range'] <= 31000.0), ('21001 to 31000')).otherwise(claim_ml_sp['salary_range']))
 
claim_ml_sp = claim_ml_sp.withColumn('salary_range', when((claim_ml_sp['salary_range'] >= 31001.0) & (claim_ml_sp['salary_range'] <= 40000.0), ('31001 to 40000')).otherwise(claim_ml_sp['salary_range']))
   
claim_ml_sp = claim_ml_sp.withColumn('salary_range', when((claim_ml_sp['salary_range'] >= 40001.0) & (claim_ml_sp['salary_range'] <= 50000.0), ('40001 to 50000')).otherwise(claim_ml_sp['salary_range']))

claim_ml_sp = claim_ml_sp.withColumn('salary_range', when((claim_ml_sp['salary_range'] >= 50001.0), ('50001+')).otherwise(claim_ml_sp['salary_range']))


#powerbi
claim_bi_sp = claim_bi_sp.withColumn('salary_range', when((claim_bi_sp['salary'] <= 21000.0), ('21000 or less')).otherwise(claim_bi_sp['salary']))

claim_bi_sp = claim_bi_sp.withColumn('salary_range', when((claim_bi_sp['salary_range'] >= 21001.0) & (claim_bi_sp['salary_range'] <= 31000.0), ('21001 to 31000')).otherwise(claim_bi_sp['salary_range']))
 
claim_bi_sp = claim_bi_sp.withColumn('salary_range', when((claim_bi_sp['salary_range'] >= 31001.0) & (claim_bi_sp['salary_range'] <= 40000.0), ('31001 to 40000')).otherwise(claim_bi_sp['salary_range']))
   
claim_bi_sp = claim_bi_sp.withColumn('salary_range', when((claim_bi_sp['salary_range'] >= 40001.0) & (claim_bi_sp['salary_range'] <= 50000.0), ('40001 to 50000')).otherwise(claim_bi_sp['salary_range']))

claim_bi_sp = claim_bi_sp.withColumn('salary_range', when((claim_bi_sp['salary_range'] >= 50001.0), ('50001+')).otherwise(claim_bi_sp['salary_range']))

In [161]:
claim_bi_df.head()

,claim_number,gender,marital_status,safety_rating,college_graduate,address_change,living_status,zip_code,claim_date,claim_day_of_week,...,policy_report_filed_ind,claim_payout,vehicle_age,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud,driver_age,salary
0,1,M,1.0,85,1,1,Rent,80006,2016-12-16,Friday,...,0,7531.0,9.0,Compact,12885.0,white,16161.33,0,46,38301.0
1,3,F,0.0,75,0,1,Rent,15021,2015-02-12,Thursday,...,0,2966.0,4.0,Large,29429.0,white,28691.96,0,21,30445.0
2,4,F,0.0,87,0,1,Own,20158,2016-12-06,Tuesday,...,0,6284.0,3.0,Compact,21701.0,white,22090.95,1,49,38923.0
3,5,F,1.0,58,1,0,Own,15024,2016-05-05,Thursday,...,1,6170.0,4.0,Medium,13198.0,other,38329.58,1,58,40605.0
4,6,M,1.0,95,1,0,Rent,50034,2015-10-27,Tuesday,...,0,4541.0,7.0,Medium,38060.0,gray,25876.56,0,38,36380.0

In [162]:
claim_bi_sp.select('salary_range').show()

+--------------+
|  salary_range|
+--------------+
|31001 to 40000|
|21001 to 31000|
|31001 to 40000|
|40001 to 50000|
|31001 to 40000|
|40001 to 50000|
|31001 to 40000|
|31001 to 40000|
|31001 to 40000|
|31001 to 40000|
|31001 to 40000|
|40001 to 50000|
|31001 to 40000|
|31001 to 40000|
|31001 to 40000|
|31001 to 40000|
|31001 to 40000|
|31001 to 40000|
|31001 to 40000|
|31001 to 40000|
+--------------+
only showing top 20 rows

In [163]:
claim_bi_sp.select('claim_payout').where(claim_bi_sp['claim_payout'] < 1000.0).show()

+------------+
|claim_payout|
+------------+
|       709.0|
|       746.0|
|       819.0|
|       984.0|
|       894.0|
|       509.0|
|       760.0|
|       540.0|
|       974.0|
|       830.0|
|       949.0|
|       803.0|
|       966.0|
|       787.0|
|       993.0|
|       934.0|
|       283.0|
|       861.0|
|       549.0|
|       993.0|
+------------+
only showing top 20 rows

## claim payout

In [164]:
#ML data 
claim_ml_sp = claim_ml_sp.withColumn('compensation_payout', 
                                     when((claim_ml_sp['claim_payout'] <= 1000.0), 
                                          ('1000 or less')).otherwise(claim_ml_sp['claim_payout']))
                                           
claim_ml_sp = claim_ml_sp.withColumn('compensation_payout', 
                                     when((claim_ml_sp['compensation_payout'] >= 1001.0) & (claim_ml_sp['compensation_payout'] <= 5000.0),
                                          ('1001 to 5000')).otherwise(claim_ml_sp['compensation_payout']))
 
claim_ml_sp = claim_ml_sp.withColumn('compensation_payout', 
                                     when((claim_ml_sp['compensation_payout'] >= 4001.0) & (claim_ml_sp['compensation_payout'] <= 8000.0),
                                          ('4001 to 8000')).otherwise(claim_ml_sp['compensation_payout']))
   
claim_ml_sp = claim_ml_sp.withColumn('compensation_payout', 
                                     when((claim_ml_sp['compensation_payout'] >= 8001.0) & (claim_ml_sp['compensation_payout'] <= 12000.0),
                                          ('8001 to 12000')).otherwise(claim_ml_sp['compensation_payout']))

claim_ml_sp = claim_ml_sp.withColumn('compensation_payout', when((claim_ml_sp['compensation_payout'] >= 12001.0), 
                                                                 ('12001+')).otherwise(claim_ml_sp['compensation_payout']))

In [165]:
claim_ml_sp.select('compensation_payout').show()

+-------------------+
|compensation_payout|
+-------------------+
|       4001 to 8000|
|       1001 to 5000|
|       4001 to 8000|
|       4001 to 8000|
|       1001 to 5000|
|       4001 to 8000|
|      8001 to 12000|
|             12001+|
|       4001 to 8000|
|       4001 to 8000|
|      8001 to 12000|
|       4001 to 8000|
|       1001 to 5000|
|       1001 to 5000|
|       4001 to 8000|
|       4001 to 8000|
|      8001 to 12000|
|       1001 to 5000|
|       4001 to 8000|
|       4001 to 8000|
+-------------------+
only showing top 20 rows

In [166]:
#BI data 
claim_bi_sp = claim_bi_sp.withColumn('compensation_payout', when((claim_bi_sp['claim_payout'] <= 1000.0), ('1000 or less')).otherwise(claim_bi_sp['claim_payout']))
                                           
claim_bi_sp = claim_bi_sp.withColumn('compensation_payout', when((claim_bi_sp['compensation_payout'] >= 1001.0) & (claim_bi_sp['compensation_payout'] <= 5000.0), ('1001 to 5000')).otherwise(claim_bi_sp['compensation_payout']))
 
claim_bi_sp = claim_bi_sp.withColumn('compensation_payout', when((claim_bi_sp['compensation_payout'] >= 4001.0) & (claim_bi_sp['compensation_payout'] <= 8000.0), ('4001 to 8000')).otherwise(claim_bi_sp['compensation_payout']))
   
claim_bi_sp = claim_bi_sp.withColumn('compensation_payout', when((claim_bi_sp['compensation_payout'] >= 8001.0) & (claim_bi_sp['compensation_payout'] <= 12000.0), ('8001 to 12000')).otherwise(claim_bi_sp['compensation_payout']))

claim_bi_sp = claim_bi_sp.withColumn('compensation_payout', when((claim_bi_sp['compensation_payout'] >= 12001.0), ('12001+')).otherwise(claim_bi_sp['compensation_payout']))

In [167]:
claim_bi_sp.select('compensation_payout').show()

+-------------------+
|compensation_payout|
+-------------------+
|       4001 to 8000|
|       1001 to 5000|
|       4001 to 8000|
|       4001 to 8000|
|       1001 to 5000|
|       4001 to 8000|
|      8001 to 12000|
|             12001+|
|       4001 to 8000|
|       4001 to 8000|
|      8001 to 12000|
|       4001 to 8000|
|       1001 to 5000|
|       1001 to 5000|
|       4001 to 8000|
|       4001 to 8000|
|      8001 to 12000|
|       1001 to 5000|
|       4001 to 8000|
|       4001 to 8000|
+-------------------+
only showing top 20 rows

## vehicle price

In [168]:
claim_ml_df['vehicle_price'].max()
claim_ml_df['vehicle_price'].min()

2457.0

In [169]:
#ML data
claim_ml_sp = claim_ml_sp.withColumn('vehicle_price_range', 
                                     when((claim_ml_sp['vehicle_price'] <= 5000.0), 
                                          ('5000 or less')).otherwise(claim_ml_sp['vehicle_price']))
                                           
claim_ml_sp = claim_ml_sp.withColumn('vehicle_price_range', 
                                     when((claim_ml_sp['vehicle_price_range'] >= 5001.0) & (claim_ml_sp['vehicle_price_range'] <= 20000.0),
                                          ('5001 to 20000')).otherwise(claim_ml_sp['vehicle_price_range']))
 
claim_ml_sp = claim_ml_sp.withColumn('vehicle_price_range', 
                                     when((claim_ml_sp['vehicle_price_range'] >= 15001.0) & (claim_ml_sp['vehicle_price_range'] <= 30000.0),
                                          ('15001 to 30000')).otherwise(claim_ml_sp['vehicle_price_range']))
   
claim_ml_sp = claim_ml_sp.withColumn('vehicle_price_range', 
                                     when((claim_ml_sp['vehicle_price_range'] >= 30001.0) & (claim_ml_sp['vehicle_price_range'] <= 45000.0),
                                          ('30001 to 45000')).otherwise(claim_ml_sp['vehicle_price_range']))

claim_ml_sp = claim_ml_sp.withColumn('vehicle_price_range', 
                                     when((claim_ml_sp['vehicle_price_range'] >= 45001.0) & (claim_ml_sp['vehicle_price_range'] <= 60000.0), 
                                                                 ('45001 to 60000')).otherwise(claim_ml_sp['vehicle_price_range']))

claim_ml_sp = claim_ml_sp.withColumn('vehicle_price_range', 
                                     when((claim_ml_sp['vehicle_price_range'] >= 60001.0), 
                                                                 ('60000+')).otherwise(claim_ml_sp['vehicle_price_range']))

In [170]:
#BI data
claim_bi_sp = claim_bi_sp.withColumn('vehicle_price_range', 
                                     when((claim_bi_sp['vehicle_price'] <= 5000.0), 
                                          ('5000 or less')).otherwise(claim_bi_sp['vehicle_price']))
                                           
claim_bi_sp = claim_bi_sp.withColumn('vehicle_price_range', 
                                     when((claim_bi_sp['vehicle_price_range'] >= 5001.0) & (claim_bi_sp['vehicle_price_range'] <= 20000.0),
                                          ('5001 to 20000')).otherwise(claim_bi_sp['vehicle_price_range']))
 
claim_bi_sp = claim_bi_sp.withColumn('vehicle_price_range', 
                                     when((claim_bi_sp['vehicle_price_range'] >= 15001.0) & (claim_bi_sp['vehicle_price_range'] <= 30000.0),
                                          ('15001 to 30000')).otherwise(claim_bi_sp['vehicle_price_range']))
   
claim_bi_sp = claim_bi_sp.withColumn('vehicle_price_range', 
                                     when((claim_bi_sp['vehicle_price_range'] >= 30001.0) & (claim_bi_sp['vehicle_price_range'] <= 45000.0),
                                          ('30001 to 45000')).otherwise(claim_bi_sp['vehicle_price_range']))

claim_bi_sp = claim_bi_sp.withColumn('vehicle_price_range', 
                                     when((claim_bi_sp['vehicle_price_range'] >= 45001.0) & (claim_bi_sp['vehicle_price_range'] <= 60000.0), 
                                                                 ('45001 to 60000')).otherwise(claim_bi_sp['vehicle_price_range']))

claim_bi_sp = claim_bi_sp.withColumn('vehicle_price_range', 
                                     when((claim_bi_sp['vehicle_price_range'] >= 60001.0), 
                                                                 ('60000+')).otherwise(claim_bi_sp['vehicle_price_range']))

In [171]:
claim_bi_df.head(20)

,claim_number,gender,marital_status,safety_rating,college_graduate,address_change,living_status,zip_code,claim_date,claim_day_of_week,...,policy_report_filed_ind,claim_payout,vehicle_age,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud,driver_age,salary
0,1,M,1.0,85,1,1,Rent,80006,2016-12-16,Friday,...,0,7531.0,9.0,Compact,12885.0,white,16161.33,0,46,38301.0
1,3,F,0.0,75,0,1,Rent,15021,2015-02-12,Thursday,...,0,2966.0,4.0,Large,29429.0,white,28691.96,0,21,30445.0
2,4,F,0.0,87,0,1,Own,20158,2016-12-06,Tuesday,...,0,6284.0,3.0,Compact,21701.0,white,22090.95,1,49,38923.0
3,5,F,1.0,58,1,0,Own,15024,2016-05-05,Thursday,...,1,6170.0,4.0,Medium,13198.0,other,38329.58,1,58,40605.0
4,6,M,1.0,95,1,0,Rent,50034,2015-10-27,Tuesday,...,0,4541.0,7.0,Medium,38060.0,gray,25876.56,0,38,36380.0
5,7,F,0.0,72,0,0,Own,50047,2016-11-16,Wednesday,...,0,5389.0,4.0,Medium,17688.0,black,15234.08,1,56,40240.0
6,8,M,1.0,80,1,0,Rent,15001,2015-03-14,Saturday,...,1,8960.0,7.0,Compact,26412.0,red,28994.54,0,27,32952.0
7,10,M,1.0,79,1,1,Own,80016,2016-01-07,Thursday,...,1,13844.0,8.0,Medium,11355.0,other,34045.83,0,40,36891.0
8,12,F,0.0,86,0,1,Own,15024,2015-03-31,Tuesday,...,0,6039.0,5.0,Compact,49268.0,black,23206.51,0,45,38069.0
9,15,M,1.0,80,0,1,Rent,85032,2015-09-03,Thursday,...,0,5870.0,5.0,Large,19930.0,white,37277.76,0,31,34324.0
10,16,F,1.0,76,1,0,Own,15057,2016-05-14,Saturday,...,0,8201.0,6.0,Medium,24157.0,blue,14259.73,0,53,39699.0
11,17,F,1.0,93,1,1,Own,50033,2015-02-12,Thursday,...,1,6052.0,3.0,Large,7698.0,black,6736.25,0,59,40753.0
12,19,M,1.0,75,1,0,Rent,80003,2015-07-11,Saturday,...,0,4226.0,5.0,Large,18677.0,white,5011.82,0,25,32194.0
13,20,F,0.0,35,0,1,Rent,15035,2015-04-20,Monday,...,1,4650.0,6.0,Compact,17917.0,red,13752.12,1,39,36635.0
14,21,M,0.0,75,0,1,Own,85023,2015-06-30,Tuesday,...,1,6671.0,5.0,Medium,56012.0,black,15393.23,0,51,39322.0
15,25,M,1.0,87,0,0,Rent,15020,2015-08-05,Wednesday,...,0,6521.0,4.0,Medium,36074.0,blue,14712.63,1,47,38516.0
16,26,M,1.0,83,1,0,Rent,20135,2015-11-11,Wednesday,...,1,8782.0,7.0,Compact,28341.0,black,25538.27,0,26,32592.0
17,29,M,0.0,81,1,1,Rent,20101,2016-02-19,Friday,...,1,4560.0,3.0,Medium,16443.0,blue,25421.81,1,46,38293.0
18,30,F,1.0,96,0,1,Own,15056,2016-04-23,Saturday,...,1,6835.0,5.0,Compact,14938.0,silver,20063.33,1,43,37609.0
19,31,M,0.0,91,1,0,Rent,80003,2015-11-03,Tuesday,...,1,6466.0,4.0,Compact,20089.0,silver,26804.02,0,39,36639.0

## date features: day, month and year

In [172]:
#year
claim_bi_sp = claim_bi_sp.withColumn('year', year(claim_bi_sp['claim_date']))
claim_ml_sp = claim_ml_sp.withColumn('year', year(claim_ml_sp['claim_date']))

#month
claim_bi_sp = claim_bi_sp.withColumn('month_coded', month(claim_bi_sp['claim_date']))
claim_ml_sp = claim_ml_sp.withColumn('month_coded', month(claim_ml_sp['claim_date']))

#day
claim_bi_sp = claim_bi_sp.withColumn('day_coded', dayofweek(claim_bi_sp['claim_date']))
claim_ml_sp = claim_ml_sp.withColumn('day_coded', dayofweek(claim_ml_sp['claim_date']))

## Validate

In [173]:
claim_bi_sp.select('year', 'month_coded', 'day_coded').show()
claim_ml_sp.select('year', 'month_coded', 'day_coded').show()

+----+-----------+---------+
|year|month_coded|day_coded|
+----+-----------+---------+
|2016|         12|        6|
|2015|          2|        5|
|2016|         12|        3|
|2016|          5|        5|
|2015|         10|        3|
|2016|         11|        4|
|2015|          3|        7|
|2016|          1|        5|
|2015|          3|        3|
|2015|          9|        5|
|2016|          5|        7|
|2015|          2|        5|
|2015|          7|        7|
|2015|          4|        2|
|2015|          6|        3|
|2015|          8|        4|
|2015|         11|        4|
|2016|          2|        6|
|2016|          4|        7|
|2015|         11|        3|
+----+-----------+---------+
only showing top 20 rows

+----+-----------+---------+
|year|month_coded|day_coded|
+----+-----------+---------+
|2016|         12|        6|
|2015|          2|        5|
|2016|         12|        3|
|2016|          5|        5|
|2015|         10|        3|
|2016|         11|        4|
|2015|          3|        7|
|2016|          1|        5|
|2015|          3|        3|
|2015|          9|        5|
|2016|          5|        7|
|2015|          2|        5|
|2015|          7|        7|
|2015|          4|        2|
|2015|          6|        3|
|2015|          8|        4|
|2015|         11|        4|
|2016|          2|        6|
|2016|          4|        7|
|2015|         11|        3|
+----+-----------+---------+
only showing top 20 rows

## reassigning month

In [174]:
#BI data
claim_bi_sp = claim_bi_sp.withColumn('month', when((claim_bi_sp['month_coded'] == 1), 
                                                   ('jan')).otherwise(claim_bi_sp['month_coded']))

claim_bi_sp = claim_bi_sp.withColumn('month', when((claim_bi_sp['month'] == 2), 
                                                   ('feb')).otherwise(claim_bi_sp['month']))

claim_bi_sp = claim_bi_sp.withColumn('month', when((claim_bi_sp['month'] == 3), 
                                                   ('mar')).otherwise(claim_bi_sp['month']))

claim_bi_sp = claim_bi_sp.withColumn('month', when((claim_bi_sp['month'] == 4), 
                                                   ('apr')).otherwise(claim_bi_sp['month']))

claim_bi_sp = claim_bi_sp.withColumn('month', when((claim_bi_sp['month'] == 5), 
                                                   ('may')).otherwise(claim_bi_sp['month']))

claim_bi_sp = claim_bi_sp.withColumn('month', when((claim_bi_sp['month'] == 6), 
                                                   ('jun')).otherwise(claim_bi_sp['month']))

claim_bi_sp = claim_bi_sp.withColumn('month', when((claim_bi_sp['month'] == 7), 
                                                   ('jul')).otherwise(claim_bi_sp['month']))

claim_bi_sp = claim_bi_sp.withColumn('month', when((claim_bi_sp['month'] == 8), 
                                                   ('aug')).otherwise(claim_bi_sp['month']))

claim_bi_sp = claim_bi_sp.withColumn('month', when((claim_bi_sp['month'] == 9), 
                                                   ('sep')).otherwise(claim_bi_sp['month']))

claim_bi_sp = claim_bi_sp.withColumn('month', when((claim_bi_sp['month'] == 10), 
                                                   ('oct')).otherwise(claim_bi_sp['month']))

claim_bi_sp = claim_bi_sp.withColumn('month', when((claim_bi_sp['month'] == 11), 
                                                   ('nov')).otherwise(claim_bi_sp['month']))

claim_bi_sp = claim_bi_sp.withColumn('month', when((claim_bi_sp['month'] == 12), 
                                                   ('dec')).otherwise(claim_bi_sp['month']))

In [175]:
#ml data 

claim_ml_sp = claim_ml_sp.withColumn('month', when((claim_ml_sp['month_coded'] == 1), 
                                                   ('jan')).otherwise(claim_ml_sp['month_coded']))

claim_ml_sp = claim_ml_sp.withColumn('month', when((claim_ml_sp['month'] == 2), 
                                                   ('feb')).otherwise(claim_ml_sp['month']))

claim_ml_sp = claim_ml_sp.withColumn('month', when((claim_ml_sp['month'] == 3), 
                                                   ('mar')).otherwise(claim_ml_sp['month']))

claim_ml_sp = claim_ml_sp.withColumn('month', when((claim_ml_sp['month'] == 4), 
                                                   ('apr')).otherwise(claim_ml_sp['month']))

claim_ml_sp = claim_ml_sp.withColumn('month', when((claim_ml_sp['month'] == 5), 
                                                   ('may')).otherwise(claim_ml_sp['month']))

claim_ml_sp = claim_ml_sp.withColumn('month', when((claim_ml_sp['month'] == 6), 
                                                   ('jun')).otherwise(claim_ml_sp['month']))

claim_ml_sp = claim_ml_sp.withColumn('month', when((claim_ml_sp['month'] == 7), 
                                                   ('jul')).otherwise(claim_ml_sp['month']))

claim_ml_sp = claim_ml_sp.withColumn('month', when((claim_ml_sp['month'] == 8), 
                                                   ('aug')).otherwise(claim_ml_sp['month']))

claim_ml_sp = claim_ml_sp.withColumn('month', when((claim_ml_sp['month'] == 9), 
                                                   ('sep')).otherwise(claim_ml_sp['month']))

claim_ml_sp = claim_ml_sp.withColumn('month', when((claim_ml_sp['month'] == 10), 
                                                   ('oct')).otherwise(claim_ml_sp['month']))

claim_ml_sp = claim_ml_sp.withColumn('month', when((claim_ml_sp['month'] == 11), 
                                                   ('nov')).otherwise(claim_ml_sp['month']))

claim_ml_sp = claim_ml_sp.withColumn('month', when((claim_ml_sp['month'] == 12), 
                                                   ('dec')).otherwise(claim_ml_sp['month']))

# Reassigning data

In [176]:
claim_bi_df.head()

,claim_number,gender,marital_status,safety_rating,college_graduate,address_change,living_status,zip_code,claim_date,claim_day_of_week,...,policy_report_filed_ind,claim_payout,vehicle_age,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud,driver_age,salary
0,1,M,1.0,85,1,1,Rent,80006,2016-12-16,Friday,...,0,7531.0,9.0,Compact,12885.0,white,16161.33,0,46,38301.0
1,3,F,0.0,75,0,1,Rent,15021,2015-02-12,Thursday,...,0,2966.0,4.0,Large,29429.0,white,28691.96,0,21,30445.0
2,4,F,0.0,87,0,1,Own,20158,2016-12-06,Tuesday,...,0,6284.0,3.0,Compact,21701.0,white,22090.95,1,49,38923.0
3,5,F,1.0,58,1,0,Own,15024,2016-05-05,Thursday,...,1,6170.0,4.0,Medium,13198.0,other,38329.58,1,58,40605.0
4,6,M,1.0,95,1,0,Rent,50034,2015-10-27,Tuesday,...,0,4541.0,7.0,Medium,38060.0,gray,25876.56,0,38,36380.0

## witness present

In [177]:
#BI data 
claim_bi_sp = claim_bi_sp.withColumn('witness_present_cat', 
                                     when((claim_bi_sp['witness_present'] == 0), 
                                          ('not present')).otherwise(claim_bi_sp['witness_present']))

claim_bi_sp = claim_bi_sp.withColumn('witness_present_cat', 
                                     when((claim_bi_sp['witness_present_cat'] == 1), 
                                          ('present')).otherwise(claim_bi_sp['witness_present_cat']))

In [178]:
#ml data 
claim_ml_sp = claim_ml_sp.withColumn('witness_present_cat', 
                                     when((claim_ml_sp['witness_present'] == 0), 
                                          ('not present')).otherwise(claim_ml_sp['witness_present']))

claim_ml_sp = claim_ml_sp.withColumn('witness_present_cat', 
                                     when((claim_ml_sp['witness_present_cat'] == 1), 
                                          ('present')).otherwise(claim_ml_sp['witness_present_cat']))

## marital status

In [179]:
#BI data 
claim_bi_sp = claim_bi_sp.withColumn('marital_status_cat', 
                                     when((claim_bi_sp['marital_status'] == 0), 
                                          ('Not Married')).otherwise(claim_bi_sp['marital_status']))

claim_bi_sp = claim_bi_sp.withColumn('marital_status_cat', 
                                     when((claim_bi_sp['marital_status_cat'] == 1), 
                                          ('Married')).otherwise(claim_bi_sp['marital_status_cat']))

In [180]:
#ML data 
claim_ml_sp = claim_ml_sp.withColumn('marital_status_cat', 
                                     when((claim_ml_sp['marital_status'] == 0), 
                                          ('Not Married')).otherwise(claim_ml_sp['marital_status']))

claim_ml_sp = claim_ml_sp.withColumn('marital_status_cat', 
                                     when((claim_ml_sp['marital_status_cat'] == 1), 
                                          ('Married')).otherwise(claim_ml_sp['marital_status_cat']))

## education status

In [181]:
#BI data 
claim_bi_sp = claim_bi_sp.withColumn('college_graduate_cat', 
                                     when((claim_bi_sp['college_graduate'] == 0), 
                                          ('not a college graduate')).otherwise(claim_bi_sp['college_graduate']))

claim_bi_sp = claim_bi_sp.withColumn('college_graduate_cat', 
                                     when((claim_bi_sp['college_graduate_cat'] == 1), 
                                          ('college graduate')).otherwise(claim_bi_sp['college_graduate_cat']))

In [182]:
#ML data 
claim_ml_sp = claim_ml_sp.withColumn('college_graduate_cat', 
                                     when((claim_ml_sp['college_graduate'] == 0), 
                                          ('not a college graduate')).otherwise(claim_ml_sp['college_graduate']))

claim_ml_sp = claim_ml_sp.withColumn('college_graduate_cat', 
                                     when((claim_ml_sp['college_graduate_cat'] == 1), 
                                          ('college graduate')).otherwise(claim_ml_sp['college_graduate_cat']))

In [183]:
claim_ml_sp.select('college_graduate_cat').show()

+--------------------+
|college_graduate_cat|
+--------------------+
|    college graduate|
|not a college gra...|
|not a college gra...|
|    college graduate|
|    college graduate|
|not a college gra...|
|    college graduate|
|    college graduate|
|not a college gra...|
|not a college gra...|
|    college graduate|
|    college graduate|
|    college graduate|
|not a college gra...|
|not a college gra...|
|not a college gra...|
|    college graduate|
|    college graduate|
|not a college gra...|
|    college graduate|
+--------------------+
only showing top 20 rows

In [184]:
claim_bi_sp.select('college_graduate_cat').show()

+--------------------+
|college_graduate_cat|
+--------------------+
|    college graduate|
|not a college gra...|
|not a college gra...|
|    college graduate|
|    college graduate|
|not a college gra...|
|    college graduate|
|    college graduate|
|not a college gra...|
|not a college gra...|
|    college graduate|
|    college graduate|
|    college graduate|
|not a college gra...|
|not a college gra...|
|not a college gra...|
|    college graduate|
|    college graduate|
|not a college gra...|
|    college graduate|
+--------------------+
only showing top 20 rows

## address change

In [185]:
#BI data 
claim_bi_sp = claim_bi_sp.withColumn('address_change_cat', 
                                     when((claim_bi_sp['address_change'] == 0), 
                                          ('not changed')).otherwise(claim_bi_sp['address_change']))

claim_bi_sp = claim_bi_sp.withColumn('address_change_cat', 
                                     when((claim_bi_sp['address_change_cat'] == 1), 
                                          ('address changed')).otherwise(claim_bi_sp['address_change_cat']))

In [186]:
#ML data 
claim_ml_sp = claim_ml_sp.withColumn('address_change_cat', 
                                     when((claim_ml_sp['address_change'] == 0), 
                                          ('not changed')).otherwise(claim_ml_sp['address_change']))

claim_ml_sp = claim_ml_sp.withColumn('address_change_cat', 
                                     when((claim_ml_sp['address_change_cat'] == 1), 
                                          ('address changed')).otherwise(claim_ml_sp['address_change_cat']))

In [187]:
claim_bi_df.head()

,claim_number,gender,marital_status,safety_rating,college_graduate,address_change,living_status,zip_code,claim_date,claim_day_of_week,...,policy_report_filed_ind,claim_payout,vehicle_age,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud,driver_age,salary
0,1,M,1.0,85,1,1,Rent,80006,2016-12-16,Friday,...,0,7531.0,9.0,Compact,12885.0,white,16161.33,0,46,38301.0
1,3,F,0.0,75,0,1,Rent,15021,2015-02-12,Thursday,...,0,2966.0,4.0,Large,29429.0,white,28691.96,0,21,30445.0
2,4,F,0.0,87,0,1,Own,20158,2016-12-06,Tuesday,...,0,6284.0,3.0,Compact,21701.0,white,22090.95,1,49,38923.0
3,5,F,1.0,58,1,0,Own,15024,2016-05-05,Thursday,...,1,6170.0,4.0,Medium,13198.0,other,38329.58,1,58,40605.0
4,6,M,1.0,95,1,0,Rent,50034,2015-10-27,Tuesday,...,0,4541.0,7.0,Medium,38060.0,gray,25876.56,0,38,36380.0

## safety rating

In [188]:
#BI data 
claim_bi_sp = claim_bi_sp.withColumn('safety_rating_cat', 
                                     when((claim_bi_sp['safety_rating'] <= 20), 
                                          ('20 or less')).otherwise(claim_bi_sp['safety_rating']))

claim_bi_sp = claim_bi_sp.withColumn('safety_rating_cat', 
                                     when((claim_bi_sp['safety_rating_cat'] >= 21) & (claim_bi_sp['safety_rating_cat'] <= 40),
                                          ('21 to 40)')).otherwise(claim_bi_sp['safety_rating_cat']))

claim_bi_sp = claim_bi_sp.withColumn('safety_rating_cat', 
                                     when((claim_bi_sp['safety_rating_cat'] >= 41) & (claim_bi_sp['safety_rating_cat'] <= 60), 
                                          ('41 to 60')).otherwise(claim_bi_sp['safety_rating_cat']))

claim_bi_sp = claim_bi_sp.withColumn('safety_rating_cat', 
                                     when((claim_bi_sp['safety_rating_cat'] >= 61) & (claim_bi_sp['safety_rating_cat'] <= 80), 
                                          ('61 to 80')).otherwise(claim_bi_sp['safety_rating_cat']))

claim_bi_sp = claim_bi_sp.withColumn('safety_rating_cat', 
                                     when((claim_bi_sp['safety_rating_cat'] >= 81) & (claim_bi_sp['safety_rating_cat'] <= 100), 
                                          ('81 to 100')).otherwise(claim_bi_sp['safety_rating_cat']))

In [189]:
#ml data 
claim_ml_sp = claim_ml_sp.withColumn('safety_rating_cat', 
                                     when((claim_ml_sp['safety_rating'] <= 20), 
                                          ('20 or less')).otherwise(claim_ml_sp['safety_rating']))

claim_ml_sp = claim_ml_sp.withColumn('safety_rating_cat', 
                                     when((claim_ml_sp['safety_rating_cat'] >= 21) & (claim_ml_sp['safety_rating_cat'] <= 40),
                                          ('21 to 40')).otherwise(claim_ml_sp['safety_rating_cat']))

claim_ml_sp = claim_ml_sp.withColumn('safety_rating_cat', 
                                     when((claim_ml_sp['safety_rating_cat'] >= 41) & (claim_ml_sp['safety_rating_cat'] <= 60), 
                                          ('41 to 60')).otherwise(claim_ml_sp['safety_rating_cat']))

claim_ml_sp = claim_ml_sp.withColumn('safety_rating_cat', 
                                     when((claim_ml_sp['safety_rating_cat'] >= 61) & (claim_ml_sp['safety_rating_cat'] <= 80), 
                                          ('61 to 80')).otherwise(claim_ml_sp['safety_rating_cat']))

claim_ml_sp = claim_ml_sp.withColumn('safety_rating_cat', 
                                     when((claim_ml_sp['safety_rating_cat'] >= 81) & (claim_ml_sp['safety_rating_cat'] <= 100), 
                                          ('81 to 100')).otherwise(claim_ml_sp['safety_rating_cat']))

## liab %

In [190]:
#BI data 
claim_bi_sp = claim_bi_sp.withColumn('liab(%)_cat', 
                                     when((claim_bi_sp['liab(%)'] <= 20), 
                                          ('20 or less')).otherwise(claim_bi_sp['liab(%)']))

claim_bi_sp = claim_bi_sp.withColumn('liab(%)_cat', 
                                     when((claim_bi_sp['liab(%)_cat'] >= 21) & (claim_bi_sp['liab(%)_cat'] <= 40),
                                          ('21 to 40')).otherwise(claim_bi_sp['liab(%)_cat']))

claim_bi_sp = claim_bi_sp.withColumn('liab(%)_cat', 
                                     when((claim_bi_sp['liab(%)_cat'] >= 41) & (claim_bi_sp['liab(%)_cat'] <= 60), 
                                          ('41 to 60')).otherwise(claim_bi_sp['liab(%)_cat']))

claim_bi_sp = claim_bi_sp.withColumn('liab(%)_cat', 
                                     when((claim_bi_sp['liab(%)_cat'] >= 61) & (claim_bi_sp['liab(%)_cat'] <= 80), 
                                          ('61 to 80')).otherwise(claim_bi_sp['liab(%)_cat']))

claim_bi_sp = claim_bi_sp.withColumn('liab(%)_cat', 
                                     when((claim_bi_sp['liab(%)_cat'] >= 81) & (claim_bi_sp['liab(%)_cat'] <= 100), 
                                          ('81 to 100')).otherwise(claim_bi_sp['liab(%)_cat']))

In [191]:
#ML data 
claim_ml_sp = claim_ml_sp.withColumn('liab(%)_cat', 
                                     when((claim_ml_sp['liab(%)'] <= 20), 
                                          ('20 or less')).otherwise(claim_ml_sp['liab(%)']))

claim_ml_sp = claim_ml_sp.withColumn('liab(%)_cat', 
                                     when((claim_ml_sp['liab(%)_cat'] >= 21) & (claim_ml_sp['liab(%)_cat'] <= 40),
                                          ('21 to 40')).otherwise(claim_ml_sp['liab(%)_cat']))

claim_ml_sp = claim_ml_sp.withColumn('liab(%)_cat', 
                                     when((claim_ml_sp['liab(%)_cat'] >= 41) & (claim_ml_sp['liab(%)_cat'] <= 60), 
                                          ('41 to 60')).otherwise(claim_ml_sp['liab(%)_cat']))

claim_ml_sp = claim_ml_sp.withColumn('liab(%)_cat', 
                                     when((claim_ml_sp['liab(%)_cat'] >= 61) & (claim_ml_sp['liab(%)_cat'] <= 80), 
                                          ('61 to 80')).otherwise(claim_ml_sp['liab(%)_cat']))

claim_ml_sp = claim_ml_sp.withColumn('liab(%)_cat', 
                                     when((claim_ml_sp['liab(%)_cat'] >= 81) & (claim_ml_sp['liab(%)_cat'] <= 100), 
                                          ('81 to 100')).otherwise(claim_ml_sp['liab(%)_cat']))

## policy filled in

In [192]:
#BI data 
claim_bi_sp = claim_bi_sp.withColumn('policy_report', 
                                     when((claim_bi_sp['policy_report_filed_ind'] == 0), 
                                          ('incomplete')).otherwise(claim_bi_sp['policy_report_filed_ind']))

claim_bi_sp = claim_bi_sp.withColumn('policy_report', 
                                     when((claim_bi_sp['policy_report'] == 1), 
                                          ('complete')).otherwise(claim_bi_sp['policy_report']))

In [193]:
#ml data 
claim_ml_sp = claim_ml_sp.withColumn('policy_report', 
                                     when((claim_ml_sp['policy_report_filed_ind'] == 0), 
                                          ('incomplete')).otherwise(claim_ml_sp['policy_report_filed_ind']))

claim_ml_sp = claim_ml_sp.withColumn('policy_report', 
                                     when((claim_ml_sp['policy_report'] == 1), 
                                          ('complete')).otherwise(claim_ml_sp['policy_report']))

# fraud

In [194]:
#BI data 
claim_bi_sp = claim_bi_sp.withColumn('fraud_or_not', 
                                     when((claim_bi_sp['fraud'] == 0), 
                                          ('legitimate')).otherwise(claim_bi_sp['fraud']))

claim_bi_sp = claim_bi_sp.withColumn('fraud_or_not', 
                                     when((claim_bi_sp['fraud_or_not'] == 1), 
                                          ('fraudulent')).otherwise(claim_bi_sp['fraud_or_not']))

In [195]:
#ML data 
claim_ml_sp = claim_ml_sp.withColumn('fraud_or_not', 
                                     when((claim_ml_sp['fraud'] == 0), 
                                          ('legitimate')).otherwise(claim_ml_sp['fraud']))

claim_ml_sp = claim_ml_sp.withColumn('fraud_or_not', 
                                     when((claim_ml_sp['fraud_or_not'] == 1), 
                                          ('fraudulent')).otherwise(claim_ml_sp['fraud_or_not']))

In [196]:
claim_bi_sp.select('fraud_or_not').show()

+------------+
|fraud_or_not|
+------------+
|  legitimate|
|  legitimate|
|  fraudulent|
|  fraudulent|
|  legitimate|
|  fraudulent|
|  legitimate|
|  legitimate|
|  legitimate|
|  legitimate|
|  legitimate|
|  legitimate|
|  legitimate|
|  fraudulent|
|  legitimate|
|  fraudulent|
|  legitimate|
|  fraudulent|
|  fraudulent|
|  legitimate|
+------------+
only showing top 20 rows

In [197]:
claim_ml_sp.select('fraud_or_not').show()

+------------+
|fraud_or_not|
+------------+
|  legitimate|
|  legitimate|
|  fraudulent|
|  fraudulent|
|  legitimate|
|  fraudulent|
|  legitimate|
|  legitimate|
|  legitimate|
|  legitimate|
|  legitimate|
|  legitimate|
|  legitimate|
|  fraudulent|
|  legitimate|
|  fraudulent|
|  legitimate|
|  fraudulent|
|  fraudulent|
|  legitimate|
+------------+
only showing top 20 rows

# converting to pandas

In [198]:
claim_bi_df = claim_bi_sp.toPandas()
claim_ml_df = claim_ml_sp.toPandas()

## saving csv for powerBI

## dropping columns

In [199]:
claim_bi_df.columns

Index(['claim_number', 'gender', 'marital_status', 'safety_rating',
       'college_graduate', 'address_change', 'living_status', 'zip_code',
       'claim_date', 'claim_day_of_week', 'accident_site', 'no._of_claims',
       'witness_present', 'liab(%)', 'channel', 'policy_report_filed_ind',
       'claim_payout', 'vehicle_age', 'vehicle_category', 'vehicle_price',
       'vehicle_color', 'vehicle_weight', 'fraud', 'driver_age', 'salary',
       'age_range', 'salary_range', 'compensation_payout',
       'vehicle_price_range', 'year', 'month_coded', 'day_coded', 'month',
       'witness_present_cat', 'marital_status_cat', 'college_graduate_cat',
       'address_change_cat', 'safety_rating_cat', 'liab(%)_cat',
       'policy_report', 'fraud_or_not'],
      dtype='object')

In [200]:
claim_bi_df.head()

,claim_number,gender,marital_status,safety_rating,college_graduate,address_change,living_status,zip_code,claim_date,claim_day_of_week,...,day_coded,month,witness_present_cat,marital_status_cat,college_graduate_cat,address_change_cat,safety_rating_cat,liab(%)_cat,policy_report,fraud_or_not
0,1,M,1.0,85,1,1,Rent,80006,2016-12-16,Friday,...,6,dec,not present,Married,college graduate,address changed,81 to 100,61 to 80,incomplete,legitimate
1,3,F,0.0,75,0,1,Rent,15021,2015-02-12,Thursday,...,5,feb,present,Not Married,not a college graduate,address changed,61 to 80,61 to 80,incomplete,legitimate
2,4,F,0.0,87,0,1,Own,20158,2016-12-06,Tuesday,...,3,dec,not present,Not Married,not a college graduate,address changed,81 to 100,20 or less,incomplete,fraudulent
3,5,F,1.0,58,1,0,Own,15024,2016-05-05,Thursday,...,5,may,not present,Married,college graduate,not changed,41 to 60,81 to 100,complete,fraudulent
4,6,M,1.0,95,1,0,Rent,50034,2015-10-27,Tuesday,...,3,oct,present,Married,college graduate,not changed,81 to 100,20 or less,incomplete,legitimate

In [201]:
claim_bi_df = claim_bi_df.drop(['marital_status',
                               'college_graduate',
                               'address_change',
                               'zip_code',
                               'witness_present',
                               'policy_report_filed_ind',
                               'vehicle_age',
                               'vehicle_color',
                               'fraud'], axis = 1)

#dropping these columns due to either lack of relevance and not appropriate format for powerBI

In [202]:
claim_bi_df.head()

,claim_number,gender,safety_rating,living_status,claim_date,claim_day_of_week,accident_site,no._of_claims,liab(%),channel,...,day_coded,month,witness_present_cat,marital_status_cat,college_graduate_cat,address_change_cat,safety_rating_cat,liab(%)_cat,policy_report,fraud_or_not
0,1,M,85,Rent,2016-12-16,Friday,Local,1,74,Broker,...,6,dec,not present,Married,college graduate,address changed,81 to 100,61 to 80,incomplete,legitimate
1,3,F,75,Rent,2015-02-12,Thursday,Highway,1,79,Online,...,5,feb,present,Not Married,not a college graduate,address changed,61 to 80,61 to 80,incomplete,legitimate
2,4,F,87,Own,2016-12-06,Tuesday,Local,0,0,Broker,...,3,dec,not present,Not Married,not a college graduate,address changed,81 to 100,20 or less,incomplete,fraudulent
3,5,F,58,Own,2016-05-05,Thursday,Local,3,99,Broker,...,5,may,not present,Married,college graduate,not changed,41 to 60,81 to 100,complete,fraudulent
4,6,M,95,Rent,2015-10-27,Tuesday,Highway,0,7,Broker,...,3,oct,present,Married,college graduate,not changed,81 to 100,20 or less,incomplete,legitimate

In [203]:
claim_bi_df.head()

,claim_number,gender,safety_rating,living_status,claim_date,claim_day_of_week,accident_site,no._of_claims,liab(%),channel,...,day_coded,month,witness_present_cat,marital_status_cat,college_graduate_cat,address_change_cat,safety_rating_cat,liab(%)_cat,policy_report,fraud_or_not
0,1,M,85,Rent,2016-12-16,Friday,Local,1,74,Broker,...,6,dec,not present,Married,college graduate,address changed,81 to 100,61 to 80,incomplete,legitimate
1,3,F,75,Rent,2015-02-12,Thursday,Highway,1,79,Online,...,5,feb,present,Not Married,not a college graduate,address changed,61 to 80,61 to 80,incomplete,legitimate
2,4,F,87,Own,2016-12-06,Tuesday,Local,0,0,Broker,...,3,dec,not present,Not Married,not a college graduate,address changed,81 to 100,20 or less,incomplete,fraudulent
3,5,F,58,Own,2016-05-05,Thursday,Local,3,99,Broker,...,5,may,not present,Married,college graduate,not changed,41 to 60,81 to 100,complete,fraudulent
4,6,M,95,Rent,2015-10-27,Tuesday,Highway,0,7,Broker,...,3,oct,present,Married,college graduate,not changed,81 to 100,20 or less,incomplete,legitimate

In [204]:
# claim_bi_df.to_csv('insurance_claims.csv')

In [205]:
# spark.stop()

# encoding variables - for ML

In [206]:
claim_ml_df.columns

Index(['claim_number', 'gender', 'marital_status', 'safety_rating',
       'college_graduate', 'address_change', 'living_status', 'zip_code',
       'claim_date', 'claim_day_of_week', 'accident_site', 'no._of_claims',
       'witness_present', 'liab(%)', 'channel', 'policy_report_filed_ind',
       'claim_payout', 'vehicle_age', 'vehicle_category', 'vehicle_price',
       'vehicle_color', 'vehicle_weight', 'fraud', 'driver_age', 'salary',
       'age_range', 'salary_range', 'compensation_payout',
       'vehicle_price_range', 'year', 'month_coded', 'day_coded', 'month',
       'witness_present_cat', 'marital_status_cat', 'college_graduate_cat',
       'address_change_cat', 'safety_rating_cat', 'liab(%)_cat',
       'policy_report', 'fraud_or_not'],
      dtype='object')

## column removal - due to irrelevancy, not coded and/or inappropriate features such as date, year and month

In [207]:
claim_ml_df = claim_ml_df.drop(['claim_number',
                 'claim_date',
                 'claim_day_of_week',
                 'channel',
                 'vehicle_age',
                 'vehicle_category',
                 'vehicle_color',
                 'vehicle_weight',
                 'year',
                 'month_coded',
                 'day_coded',
                 'month',
                 'zip_code',
                 'fraud_or_not',
                 'witness_present_cat',
                 'marital_status_cat',
                 'college_graduate_cat',
                 'address_change_cat'], axis = 1)

In [208]:
claim_ml_df.head()

,gender,marital_status,safety_rating,college_graduate,address_change,living_status,accident_site,no._of_claims,witness_present,liab(%),...,fraud,driver_age,salary,age_range,salary_range,compensation_payout,vehicle_price_range,safety_rating_cat,liab(%)_cat,policy_report
0,M,1.0,85,1,1,Rent,Local,1,0.0,74,...,0,46,38301.0,44 to 52,31001 to 40000,4001 to 8000,5001 to 20000,81 to 100,61 to 80,incomplete
1,F,0.0,75,0,1,Rent,Highway,1,1.0,79,...,0,21,30445.0,17 to 25,21001 to 31000,1001 to 5000,15001 to 30000,61 to 80,61 to 80,incomplete
2,F,0.0,87,0,1,Own,Local,0,0.0,0,...,1,49,38923.0,44 to 52,31001 to 40000,4001 to 8000,15001 to 30000,81 to 100,20 or less,incomplete
3,F,1.0,58,1,0,Own,Local,3,0.0,99,...,1,58,40605.0,53 to 61,40001 to 50000,4001 to 8000,5001 to 20000,41 to 60,81 to 100,complete
4,M,1.0,95,1,0,Rent,Highway,0,1.0,7,...,0,38,36380.0,35 to 43,31001 to 40000,1001 to 5000,30001 to 45000,81 to 100,20 or less,incomplete

In [209]:
claim_ml_df.columns

Index(['gender', 'marital_status', 'safety_rating', 'college_graduate',
       'address_change', 'living_status', 'accident_site', 'no._of_claims',
       'witness_present', 'liab(%)', 'policy_report_filed_ind', 'claim_payout',
       'vehicle_price', 'fraud', 'driver_age', 'salary', 'age_range',
       'salary_range', 'compensation_payout', 'vehicle_price_range',
       'safety_rating_cat', 'liab(%)_cat', 'policy_report'],
      dtype='object')

## oneHot encoding: non-ordinal categories

In [210]:
claim_ml_df_cats = claim_ml_df[['gender', 'living_status', 'accident_site', 'policy_report']]

claim_ml_df_cats = pd.DataFrame(claim_ml_df_cats)

In [211]:
dummy_cats = pd.get_dummies(claim_ml_df_cats)

## label encoding: ordinal categories

In [212]:


# claim_ml_df_label = claim_ml_df[['age_range', 'salary_range', 'compensation_payout', 'vehicle_price_range', 
#                                 'safety_rating_cat', 'liab(%)_cat']]

# claim_ml_df_label = pd.DataFrame(claim_ml_df_label)

# le = LabelEncoder()

# for col in claim_ml_df_label:
#     claim_ml_df_label[col] = le.fit_transform(claim_ml_df_label[col])
    
# claim_ml_df_label

In [213]:
claim_ml_df = claim_ml_df.drop(['age_range', 
                                'salary_range', 
                                'compensation_payout', 
                                'vehicle_price_range', 
                                'safety_rating_cat', 
                                'liab(%)_cat'], axis = 1)

In [214]:
fraud_target = claim_ml_df[['fraud']]

In [215]:
claim_ml_df.columns

Index(['gender', 'marital_status', 'safety_rating', 'college_graduate',
       'address_change', 'living_status', 'accident_site', 'no._of_claims',
       'witness_present', 'liab(%)', 'policy_report_filed_ind', 'claim_payout',
       'vehicle_price', 'fraud', 'driver_age', 'salary', 'policy_report'],
      dtype='object')

# further column dropping - Ml cannot have object based data

In [216]:
# claim_ml_df = claim_ml_df.drop(['gender',
#                                'safety_rating',
#                                'living_status',
#                                'accident_site',
#                                'liab(%)',
#                                'policy_report_filed_ind',
#                                'claim_payout',
#                                'vehicle_price',
#                                'driver_age',
#                                'salary',
#                                'age_range',
#                                'salary_range',
#                                'compensation_payout',
#                                'vehicle_price_range',
#                                'safety_rating_cat',
#                                'liab(%)_cat',
#                                'policy_report'], axis = 1)

In [217]:
claim_ml_df

,gender,marital_status,safety_rating,college_graduate,address_change,living_status,accident_site,no._of_claims,witness_present,liab(%),policy_report_filed_ind,claim_payout,vehicle_price,fraud,driver_age,salary,policy_report
0,M,1.0,85,1,1,Rent,Local,1,0.0,74,0,7531.0,12885.0,0,46,38301.0,incomplete
1,F,0.0,75,0,1,Rent,Highway,1,1.0,79,0,2966.0,29429.0,0,21,30445.0,incomplete
2,F,0.0,87,0,1,Own,Local,0,0.0,0,0,6284.0,21701.0,1,49,38923.0,incomplete
3,F,1.0,58,1,0,Own,Local,3,0.0,99,1,6170.0,13198.0,1,58,40605.0,complete
4,M,1.0,95,1,0,Rent,Highway,0,1.0,7,0,4541.0,38060.0,0,38,36380.0,incomplete
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17993,M,1.0,93,1,0,Own,Local,0,0.0,99,0,4807.0,32145.0,0,69,42338.0,incomplete
17994,F,0.0,22,1,1,Own,Local,1,0.0,94,1,4090.0,9469.0,1,35,35579.0,complete
17995,F,1.0,81,0,1,Rent,Local,2,0.0,1,1,2226.0,64974.0,0,27,32953.0,complete
17996,F,1.0,86,1,0,Own,Highway,1,1.0,75,1,9561.0,24983.0,0,52,39519.0,complete
17997,F,0.0,60,1,0,Rent,Parking Lot,1,1.0,35,0,5167.0,19296.0,0,61,41126.0,incomplete

## concatenating columns

In [218]:
claim_ml_df = pd.concat([claim_ml_df, dummy_cats], axis = 1)

In [219]:
claim_ml_df.columns

Index(['gender', 'marital_status', 'safety_rating', 'college_graduate',
       'address_change', 'living_status', 'accident_site', 'no._of_claims',
       'witness_present', 'liab(%)', 'policy_report_filed_ind', 'claim_payout',
       'vehicle_price', 'fraud', 'driver_age', 'salary', 'policy_report',
       'gender_F', 'gender_M', 'living_status_Own', 'living_status_Rent',
       'accident_site_Highway', 'accident_site_Local',
       'accident_site_Parking Lot', 'policy_report_complete',
       'policy_report_incomplete'],
      dtype='object')

In [220]:
claim_ml_df = claim_ml_df.drop(['gender',
                               'living_status',
                               'accident_site',
                               'fraud',
                               'policy_report',
                               'policy_report_filed_ind'], axis = 1)

In [221]:
claim_ml_df = pd.concat([claim_ml_df, fraud_target], axis = 1)

In [222]:
claim_ml_df.columns

Index(['marital_status', 'safety_rating', 'college_graduate', 'address_change',
       'no._of_claims', 'witness_present', 'liab(%)', 'claim_payout',
       'vehicle_price', 'driver_age', 'salary', 'gender_F', 'gender_M',
       'living_status_Own', 'living_status_Rent', 'accident_site_Highway',
       'accident_site_Local', 'accident_site_Parking Lot',
       'policy_report_complete', 'policy_report_incomplete', 'fraud'],
      dtype='object')

# Machine Learning Preparation

In [223]:
#shape and length of testing and training data 
def shape_and_length(train_data, test_data):
    print('shape:')
    print('\n')
    print('train data: ',train_data.shape)
    print('test data: ',test_data.shape)
    print('\n')
    print('Length:')
    print('\n')
    print('Train data length: ', len(train_data))
    print('Test data length: ', len(test_data))

In [224]:
#assessing column lengths 
len(claim_ml_df.columns)

21

In [225]:
#checking feature columns 
claim_ml_df.iloc[:,0:20]

,marital_status,safety_rating,college_graduate,address_change,no._of_claims,witness_present,liab(%),claim_payout,vehicle_price,driver_age,salary,gender_F,gender_M,living_status_Own,living_status_Rent,accident_site_Highway,accident_site_Local,accident_site_Parking Lot,policy_report_complete,policy_report_incomplete
0,1.0,85,1,1,1,0.0,74,7531.0,12885.0,46,38301.0,0,1,0,1,0,1,0,0,1
1,0.0,75,0,1,1,1.0,79,2966.0,29429.0,21,30445.0,1,0,0,1,1,0,0,0,1
2,0.0,87,0,1,0,0.0,0,6284.0,21701.0,49,38923.0,1,0,1,0,0,1,0,0,1
3,1.0,58,1,0,3,0.0,99,6170.0,13198.0,58,40605.0,1,0,1,0,0,1,0,1,0
4,1.0,95,1,0,0,1.0,7,4541.0,38060.0,38,36380.0,0,1,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17993,1.0,93,1,0,0,0.0,99,4807.0,32145.0,69,42338.0,0,1,1,0,0,1,0,0,1
17994,0.0,22,1,1,1,0.0,94,4090.0,9469.0,35,35579.0,1,0,1,0,0,1,0,1,0
17995,1.0,81,0,1,2,0.0,1,2226.0,64974.0,27,32953.0,1,0,0,1,0,1,0,1,0
17996,1.0,86,1,0,1,1.0,75,9561.0,24983.0,52,39519.0,1,0,1,0,1,0,0,1,0
17997,0.0,60,1,0,1,1.0,35,5167.0,19296.0,61,41126.0,1,0,0,1,0,0,1,0,1

In [226]:
# claim_ml_df.to_csv('ml_insurancefraud.csv')